<div class="wrapper">
  <nav>
    <input type="checkbox" id="show-search" />
    <input type="checkbox" id="show-menu" />
    <label for="show-menu" class="menu-icon">
      <img src="../../../../assets/icons/square.svg" />
    </label>
    <div class="content">
      <div class="logo">
        <a routerLink="/home"
          ><img src="../../../../assets/img/Logo-csi-color.svg" alt="home"
        /></a>
      </div>
      <ul class="links">
        <li *ngFor="let menu of menus$ | async">
          <a
            class="desktop-link"
            routerLink="{{ menu.accion }}"
            (mouseover)="onSubmenu(menu.id)"
            >{{ menu.nombres | titlecase }}</a
          >
          <input type="checkbox" id="showfeatures" />
          <label (mouseover)="onSubmenu(menu.id)" for="showfeatures">{{
            menu.nombres | titlecase
          }}</label>
          <ul>
            <li *ngFor="let submenu of submenus$ | async">
              <a routerLink="{{ submenu.accion }}" (click)="onRoute(submenu)">{{
                submenu.nombres | titlecase
              }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <label for="show-search" class="search-icon"></label>
  </nav>
</div>
