<div class="wrapper">
  <nav>
    <input type="checkbox" id="show-search" />
    <input type="checkbox" id="show-menu" />
    <label for="show-menu" class="menu-icon">
      <img src="../../../../assets/icons/square.svg" />
    </label>
    <div class="content">
      <div class="logo">
        <img src="../../../../assets/img/Logo-csi-color.svg" alt="home" />
      </div>
      <ul class="links">
        <li *ngFor="let menu of menus$ | async">
          <a class="desktop-link" (mouseover)="onSubmenu(menu.id)">{{
            menu.nombre | titlecase
          }}</a>
          <input type="checkbox" id="show-features" />
          <label for="show-features">{{ menu.nombre | titlecase }}</label>
          <ul>
            <li *ngFor="let submenu of submenus$ | async">
              <a
                routerLink="{{ submenu.accion }}"
                (click)="onRoute(submenu.accion)"
                >{{ submenu.nombre | titlecase }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <label for="show-search" class="search-icon"></label>
  </nav>
</div>
