<div class="container">
  <div class="card">
    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <div
        class="group"
        [ngClass]="{
          'message-group': f.user.touched && f.user.errors
        }"
      >
        <input
          type="text"
          class="input-control"
          placeholder=" "
          formControlName="user"
          [ngClass]="{
            'message-input': f.user.touched && f.user.errors
          }"
        />
        <label
          class="label-control"
          [ngClass]="{
            'message-label': f.user.touched && f.user.errors
          }"
          >Usuario</label
        >
        <div
          class="message"
          *ngIf="(f.user.dirty || f.user.touched) && f.user.errors"
        >
          <div class="message-svg">
            <svg
              aria-hidden="true"
              class="message-text"
              fill="currentColor"
              focusable="false"
              width="16px"
              height="16px"
              viewBox="0 0 24 24"
              xmlns="https://www.w3.org/2000/svg"
            >
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
              ></path>
            </svg>
          </div>
          <span class="message-text">Ingrese por favo su usuario</span>
        </div>
      </div>

      <div
        class="group"
        [ngClass]="{
          'message-group': f.password.touched && f.password.errors
        }"
      >
        <input
          type="password"
          class="input-control"
          placeholder=" "
          formControlName="password"
          [ngClass]="{
            'message-input': f.password.touched && f.password.errors
          }"
        />
        <label
          class="label-control"
          [ngClass]="{
            'message-label': f.password.touched && f.password.errors
          }"
          >Password</label
        >
        <div
          class="message"
          *ngIf="(f.password.dirty || f.password.touched) && f.password.errors"
        >
          <div class="message-svg">
            <svg
              aria-hidden="true"
              class="message-text"
              fill="currentColor"
              focusable="false"
              width="16px"
              height="16px"
              viewBox="0 0 24 24"
              xmlns="https://www.w3.org/2000/svg"
            >
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
              ></path>
            </svg>
          </div>

          <span class="message-text">Ingrese por favor su password</span>
        </div>
      </div>
      <div class="group">
        <button
          type="submit"
          [ngClass]="{
            'bt-disabled': !form.valid
          }"
          [disabled]="!form.valid"
          class="btn"
        >
          Ingresar
        </button>
      </div>
      <span class="link"> ¿Olvidaste tu password?</span>
    </form>
  </div>
</div>
