.card {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.card-body {
  display: flex;
  justify-content: center;
}

.card-body .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
  border-right: 1px solid #dbdbdb;
}

.card-body .card-item:last-child {
  border-right: none;
}

.card-titem .detalle {
  font-size: 2rem;
  font-weight: 600;
}

.card-item .title {
  color: #828282;
}
/*****************FORM*********************/

.group {
  position: relative;
  height: 45px;
  width: 100%;
}

.input-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid #dadce0;
  outline: none;
  background: none;
  z-index: 1;
}

.input-select {
  padding: 0 1.2rem;
}

.label-control {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  background-color: #fff;
  padding: 0 0.25rem;
  color: #80868b;
  transition: 0.3s;
}

.input-control:focus + .label-control {
  top: -0.5rem;
  left: 0.9rem;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}

.input-control:not(:placeholder-shown).input-control:not(:focus)
  + .label-control {
  top: -0.5rem;
  left: 0.8rem;
  z-index: 10;
  font-weight: 500;
  font-size: 0.75rem;
}

.input-control:focus {
  border: 1px solid #fe7b12;
}

.container-form {
  width: 100%;
  display: flex;
}

/*************TABLE******************/
.table {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  position: absolute;
  z-index: 20;
}

.row-header {
  display: flex;
  justify-content: space-between;
  background-color: #828282;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.row-header .cell {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-weight: 600;
}

.row-body {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #fff;
}

.row-scroll {
  overflow-y: scroll;
  max-height: 210px;
  border-radius: 2rem;
}

.row-body .cell {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.row-header .cell-30,
.row-body .cell-30 {
  width: 30%;
}

.row-body .cell-aling-left {
  text-align: left;
}

/**************************/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
  /* border-radius: 2rem; */
}

::-webkit-scrollbar-thumb {
  background: #828282;
  border-radius: 2rem;
}

/*************BUTTON*****************/
.container-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 35%;
  padding: 18px 32px;
  font-size: 18px;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #828282;
  color: #fff;
  box-shadow: 0 8px 6px -6px black;
}
