<ng-container
  *ngIf="agendaMedicaData$ | async as agendaMedicaData"
  class="animate__animated animate__fadeIn"
>
  <div class="card animate__animated animate__fadeIn">
    <div class="card-body">
      <div class="card-item">
        <span class="detalle">{{ agendaMedicaData.medico | titlecase }}</span>
        <span class="title">Medico</span>
      </div>
      <div class="card-item">
        <span class="detalle">{{
          agendaMedicaData.especialidad | titlecase
        }}</span>
        <span class="title">Especialidad</span>
      </div>
      <div class="card-item">
        <span class="detalle">{{
          agendaMedicaData.consultorio | titlecase | slice: 12
        }}</span>
        <span class="title">Consultorio</span>
      </div>
      <div class="card-item">
        <span class="detalle">{{
          agendaMedicaData.turno | titlecase | slice: 18
        }}</span>
        <span class="title">Turno</span>
      </div>
    </div>
  </div>
</ng-container>
<div class="card" style="padding: 1rem">
  <div class="group">
    <input
      type="text"
      class="input-control"
      placeholder=" "
      [formControl]="searchinput"
      (keyup)="setSearch(getValue($event.target))"
    />
    <label class="label-control">Buscar</label>
  </div>
</div>
<ng-container
  *ngIf="search$ | async as search"
  clas="card animate__animated animate__fadeIn"
>
  <div class="table animate__animated animate__fadeIn" *ngIf="statusSearch">
    <div class="row-header">
      <div class="cell cell-30">Historia</div>
      <div class="cell">Paciente</div>
    </div>
    <div class="row-scroll">
      <div
        class="row-body"
        (click)="seleccionarPaciente(data)"
        *ngFor="let data of search"
      >
        <div class="cell cell-30">{{ data.historia }}</div>
        <div class="cell cell-aling-left">{{ data.paciente }}</div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="paciente$ | async as pacientes">
  <div
    class="card animate__animated animate__fadeIn"
    *ngIf="statusDatosPaciente"
  >
    <div class="card-body">
      <div class="card-item">
        <span class="detalle">{{ pacientes.historia }}</span>
        <span class="title">Historia</span>
      </div>
      <div class="card-item">
        <span class="detalle">{{ pacientes.paciente | titlecase }}</span>
        <span class="title">Paciente</span>
      </div>
    </div>
  </div>
</ng-container>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="group">
      <input
        type="checkbox"
        class="checkbox_input"
        [formControl]="checkbox"
        (change)="selectChecked($event.target)"
        id="revision"
        [value]="112"
      />
      <label for="revision" class="checkbox_label"
        >Sólo Revisión Resultados en H.C.</label
      >
    </div>
    <div class="container-form">
      <div class="group" style="margin-bottom: 1rem">
        <select class="input-control input-select" formControlName="ci_tipopac">
          <option [value]="null">Seleccionar iafas</option>
          <option
            [value]="acreditacion.plan"
            *ngFor="let acreditacion of acreditaciones$ | async"
          >
            {{ acreditacion.iafas }}
          </option>
        </select>
      </div>

      <div class="group">
        <input
          type="text"
          class="input-control"
          placeholder=" "
          formControlName="ci_observaciones"
        />
        <label class="label-control">N° de autorizacion siteds</label>
      </div>
    </div>
  </div>
  <div class="container-button">
    <button type="submit" class="btn" style="margin-top: 10px">
      Registrar cita
    </button>
  </div>
</form>
