.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2rem;
  /* box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2); */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  margin-left: 20px;
  height: 520px;
}

.row-header {
  display: flex;
  justify-content: space-between;
  background-color: #009b6e;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.row-header .cell {
  text-align: center;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #fff;
  font-weight: 600;
}

.table .row-header .cell-50 {
  width: 30%;
}

.row-body {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.1s ease;
  transition: background-color 0.1s ease;
  background-color: #fff;
}

.row-body:hover {
  background-color: #009b6e;
  color: #fff;
  font-weight: 600;
}

.row-body .cell {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.row-body .cell-50 {
  width: 30%;
  border-right: 1px solid #f2f2f2;
}

.icon-action-svg {
  cursor: pointer;
}

.icon-action-svg img {
  padding-right: 10px;
}

.footer-pagination {
  display: flex;
  justify-content: center;
}
/*******************************/
.btn {
  padding: 18px 32px;
  font-size: 18px;
  border-radius: 2rem;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: #8cc8c8;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: rgba(92, 99, 105, 0.1) 0px 4px 16px,
    rgba(92, 99, 105, 0.1) 0px 8px 24px, rgba(92, 99, 105, 0.1) 0px 16px 56px;
}

.btn:hover {
  background-color: #828282;
  color: #fff;
  box-shadow: 0 8px 6px -6px black;
}
/**************dropw********************/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  height: 100px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
