.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1.2rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.row-header {
  display: flex;
  justify-content: space-between;
  background-color: #828282;
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
}

.row-header .cell {
  text-align: center;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #fff;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row .cell {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.row:hover {
  background-color: #a7a5a5;
  color: #fff;
}

.icon-action-svg {
  cursor: pointer;
}

.icon-action-svg img {
  padding-right: 10px;
}

.footer-pagination {
  display: flex;
  justify-content: center;
}
