<div class="container-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
      <!--row 1 beginning-->
      <div class="row__item">
        <div class="group">
          <select class="input-control input-select" formControlName="cama">
            <option value="null">seleccionar camas</option>
            <option [value]="cama.codigo" *ngFor="let cama of camas$ | async">
              {{ cama.descripcionCorto }}
            </option>
          </select>
        </div>
        <div class="group">
          <select
            class="input-control input-select"
            (change)="changeMedicoIntervecion($event.target.value)"
            formControlName="especialidad"
          >
            <option value="null">Seleccionar especialidad</option>
            <option
              [value]="especialidad.codigo"
              *ngFor="let especialidad of especialidades$ | async"
            >
              {{ especialidad.descripcion | titlecase }}
            </option>
          </select>
        </div>
        <div class="group">
          <select
            class="input-control input-select"
            [formControl]="intervencion"
            (change)="setParticipantes($event.target.value)"
          >
            <option value="null">Seleccionar intervencion</option>
            <option
              [value]="intervencion | json"
              *ngFor="let intervencion of intervenciones$ | async"
            >
              {{ intervencion.descripcion | titlecase }}
            </option>
          </select>
        </div>
        <div class="group">
          <select
            class="input-control input-select"
            formControlName="medico"
            (change)="setAsignacionCirujano($event.target.value)"
          >
            <option value="null">Seleccionar medico</option>
            <option
              [value]="medico.codigo"
              *ngFor="let medico of medicos$ | async"
            >
              {{ medico.nombre | titlecase }}
            </option>
          </select>
        </div>
      </div>
      <!--row 1 end-->
      <!--row 2 beginning-->
      <div class="row__item">
        <div class="group">
          <select
            class="input-control input-select"
            formControlName="intervencion2"
          >
            <option value="null">Seleccionar intervencion 2</option>
            <option
              [value]="intervencion.codigo"
              *ngFor="let intervencion of intervenciones$ | async"
            >
              {{ intervencion.descripcion | titlecase }}
            </option>
          </select>
        </div>

        <div class="group">
          <select
            class="input-control input-select"
            formControlName="intervencion3"
          >
            <option value="null">Seleccionar intervencion 3</option>
            <option
              [value]="intervencion.codigo"
              *ngFor="let intervencion of intervenciones$ | async"
            >
              {{ intervencion.descripcion | titlecase }}
            </option>
          </select>
        </div>

        <div class="group">
          <select
            class="input-control input-select"
            formControlName="anestesia"
          >
            <option value="null">Seleccionar anestesias</option>
            <option
              [value]="anestesia.codigo"
              *ngFor="let anestesia of anestesias$ | async"
            >
              {{ anestesia.descripcion | titlecase }}
            </option>
          </select>
        </div>
      </div>
      <!--row 2 end-->
      <!--row 3 beginning-->
      <div class="row__item">
        <div class="group">
          <input
            type="text"
            class="input-control"
            formControlName="petitori"
            placeholder=" "
          />
          <label class="label-control">N° petitorio</label>
        </div>
        <div class="group">
          <input
            type="text"
            class="input-control"
            formControlName="semana"
            placeholder=" "
          />
          <label class="label-control">N° Semana</label>
        </div>
        <div class="group">
          <input
            type="text"
            class="input-control"
            formControlName="tiempo"
            placeholder=" "
          />
          <label class="label-control">Tiempo</label>
        </div>
        <div class="group">
          <input
            type="text"
            class="input-control"
            formControlName="antibiotico"
            placeholder=" "
          />
          <label class="label-control">Antibiotico</label>
        </div>
      </div>
      <!--row 3 end-->
      <!--row 4 beginning-->
      <h1>Are de Preparacion</h1>
      <div *ngIf="form$ | async as areaPreparaciones">
        <div class="container__checkbox">
          <ng-container *ngFor="let f of areaPreparaciones.areaPreparaciones">
            <input
              type="radio"
              class="checkbox__input"
              [value]="f.value"
              [id]="f.label"
              formControlName="area"
            />
            <label [for]="f.label" class="checkbox__label">{{ f.label }}</label>
          </ng-container>
        </div>
      </div>
      <!--row 4 end-->
      <!--row 5 beginning-->
      <div class="group textarea">
        <textarea
          rows="5"
          cols="10"
          class="input-control"
          placeholder=" "
          formControlName="cq_pedido"
        ></textarea>
        <label class="label-control">Motivo / Observaciones</label>
      </div>
      <!--row 5 end-->
      <!--Estancia beginning-->
      <h1>Estancia</h1>
      <div *ngIf="form$ | async as atenciones">
        <div class="container__checkbox">
          <ng-container *ngFor="let x of atenciones.estancias">
            <input
              type="radio"
              class="checkbox__input"
              [value]="x.value"
              [id]="x.label"
              formControlName="estancia"
            />
            <label [for]="x.label" class="checkbox__label">{{ x.label }}</label>
          </ng-container>
        </div>
      </div>
      <!--Estancia end-->
      <!--Equipos medicos beginning -->
      <h1>Equipos Medicos</h1>
      <div *ngIf="form$ | async as form">
        <div class="container__checkbox">
          <ng-container *ngFor="let equipos of form.equipoMedicos">
            <input
              [type]="equipos.type"
              class="checkbox__input"
              [id]="equipos.label"
              [value]="equipos.value"
              (change)="agregarEquipoMedico($event.target.checked, equipos)"
            />
            <label [for]="equipos.label" class="checkbox__label">{{
              equipos.label | titlecase
            }}</label>
          </ng-container>
        </div>
      </div>
      <!--Equipos end-->
      <!--form array beginning-->
      <ng-container
        formArrayName="participantes"
        *ngIf="participantes.controls.length > 0"
      >
        <div class="row__item">
          <fieldset class="animate__animated animate__fadeIn w__100">
            <h1>Participantes</h1>
            <div *ngFor="let _ of participantes.controls; index as indice">
              <ng-container [formGroupName]="indice">
                <div class="container__card animate__animated animate__fadeIn">
                  <div class="card__item">
                    <lable class="card__title">{{
                      participantes.value[indice].descripcion | titlecase
                    }}</lable>
                  </div>
                  <div class="group mr_02rem">
                    <select
                      class="input-control input-select"
                      formControlName="descripcionPersonal"
                    >
                      <option [value]="null">Seleccionar personal</option>
                      <option
                        [value]="medico.codigo"
                        *ngFor="let medico of medicos$ | async"
                      >
                        {{ medico.nombre | titlecase }}
                      </option>
                    </select>
                  </div>
                </div>
              </ng-container>
            </div>
          </fieldset>
          <!-- <fieldset class="animate__animated animate__fadeIn w__100">
            <h1>Disponibilidad de salas</h1>
            <div>
              <span>Sala 01</span>
            </div>
            <div>
              <span>Sala 02</span>
            </div>
            <div>
              <span>Sala 03</span>
            </div>
          </fieldset> -->
        </div>
      </ng-container>
      <!--form array end-->
      <div class="group">
        <button type="submit" class="btn">Enviar</button>
      </div>
    </div>
  </form>
</div>
