<div class="container-form animate__animated animate__fadeIn">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
      <!--row 1 beginning-->
      <div class="row__item">
        <div class="group">
          <select class="input-control input-select" formControlName="cq_cama">
            <option value="null">seleccionar camas</option>
            <option [value]="cama.codigo" *ngFor="let cama of camas$ | async">
              {{ cama.descripcionCorto }}
            </option>
          </select>
          <label class="label-control">Cama</label>
        </div>
        <div class="group">
          <select
            class="input-control input-select"
            (change)="changeMedicoIntervecion($event.target.value)"
            formControlName="se_codigo"
          >
            <option value="null">Seleccionar especialidad</option>
            <option
              [value]="especialidad.codigo"
              *ngFor="let especialidad of especialidades$ | async"
            >
              {{ especialidad.descripcion | titlecase }}
            </option>
          </select>
          <label class="label-control">Especialidad</label>
        </div>
        <div class="group">
          <select
            class="input-control input-select"
            [formControl]="intervencion"
            (change)="setParticipantes($event.target.value)"
          >
            <option value="null">Seleccionar intervencion</option>
            <option
              [value]="intervencion | json"
              *ngFor="let intervencion of intervenciones$ | async"
            >
              {{ intervencion.cq_nomint | titlecase }}
            </option>
          </select>
          <label class="label-control">Intervencion</label>
        </div>
        <div class="group">
          <select
            class="input-control input-select"
            formControlName="medico"
            (change)="setAsignacionCirujano($event.target.value)"
          >
            <option value="null">Seleccionar medico</option>
            <option
              [value]="medico.codigo"
              *ngFor="let medico of medicos$ | async"
            >
              {{ medico.nombre | titlecase }}
            </option>
          </select>
          <label class="label-control">Cirujano</label>
        </div>
      </div>
      <!--row 1 end-->
      <!--row 2 beginning-->
      <div class="row__item">
        <div class="group">
          <select
            class="input-control input-select"
            formControlName="cq_codiqx2"
          >
            <option value="null">Seleccionar intervencion 2</option>
            <option
              [value]="intervencion.cq_codiqx"
              *ngFor="let intervencion of intervenciones$ | async"
            >
              {{ intervencion.cq_nomint | titlecase }}
            </option>
          </select>
          <label class="label-control">Intervencion 2</label>
        </div>

        <div class="group">
          <select
            class="input-control input-select"
            formControlName="cq_codiqx3"
          >
            <option value="null">Seleccionar intervencion 3</option>
            <option
              [value]="intervencion.cq_codiqx"
              *ngFor="let intervencion of intervenciones$ | async"
            >
              {{ intervencion.cq_nomint | titlecase }}
            </option>
          </select>
          <label class="label-control">Intervencion 3</label>
        </div>

        <div class="group">
          <select
            class="input-control input-select"
            formControlName="an_tipane"
          >
            <option value="null">Seleccionar anestesias</option>
            <option
              [value]="anestesia.an_tipane"
              *ngFor="let anestesia of anestesias$ | async"
            >
              {{ anestesia.an_nombre | titlecase }}
            </option>
          </select>
          <label class="label-control">Anestesias</label>
        </div>
      </div>
      <!--row 2 end-->
      <!--row 3 beginning-->
      <div class="row__item">
        <div class="group">
          <input
            type="text"
            class="input-control"
            formControlName="cq_num_petito"
            placeholder=" "
          />
          <label class="label-control">N° petitorio</label>
        </div>
        <div class="group">
          <input
            type="text"
            class="input-control"
            formControlName="cq_numsema"
            placeholder=" "
          />
          <label class="label-control">N° Semana</label>
        </div>
        <div class="group">
          <input
            type="text"
            class="input-control"
            formControlName="tiempo"
            placeholder=" "
          />
          <label class="label-control">Tiempo <small>(min)</small></label>
        </div>
        <div class="group">
          <input
            type="text"
            class="input-control"
            formControlName="cq_antibio"
            placeholder=" "
          />
          <label class="label-control">Antibiotico</label>
        </div>
      </div>
      <!--row 3 end-->
      <!--row 4 beginning-->
      <div class="group textarea">
        <textarea
          rows="5"
          cols="10"
          class="input-control"
          placeholder=" "
          formControlName="cq_pedido"
        ></textarea>
        <label class="label-control">Motivo / Observaciones</label>
      </div>
      <!--row 4 end-->
      <!--row 5 beginning-->
      <h1>Are de Preparacion</h1>
      <div *ngIf="form$ | async as areaPreparaciones">
        <div class="container__checkbox">
          <ng-container *ngFor="let f of areaPreparaciones.areaPreparaciones">
            <input
              type="radio"
              class="checkbox__input"
              [value]="f.value"
              [id]="f.label"
              formControlName="cq_areapre"
            />
            <label [for]="f.label" class="checkbox__label">{{ f.label }}</label>
          </ng-container>
        </div>
      </div>
      <!--row 5 end-->

      <!--Estancia beginning-->
      <div class="row__item">
        <div class="group h__70">
          <h1>Estancia</h1>
          <div class="container__checkbox" *ngIf="form$ | async as atenciones">
            <ng-container *ngFor="let x of atenciones.estancias">
              <input
                type="radio"
                class="checkbox__input"
                [value]="x.value"
                [id]="x.label"
                formControlName="cq_estancia"
              />
              <label [for]="x.label" class="checkbox__label">{{
                x.label | titlecase
              }}</label>
            </ng-container>
          </div>
        </div>
        <!--Estancia end-->
        <!--Equipos medicos beginning -->
        <div class="group">
          <h1>Equipos Medicos</h1>
          <div class="container__checkbox" *ngIf="form$ | async as form">
            <ng-container *ngFor="let equipos of form.equipoMedicos">
              <input
                [type]="equipos.type"
                class="checkbox__input"
                [id]="equipos.label"
                [value]="equipos.value"
                (change)="agregarEquipoMedico($event.target.checked, equipos)"
              />
              <label [for]="equipos.label" class="checkbox__label">{{
                equipos.label | titlecase
              }}</label>
            </ng-container>
          </div>
        </div>
      </div>
      <!--Equipos end-->
      <!--Otros beginning-->
      <h1>Otros</h1>
      <div *ngIf="form$ | async as form">
        <div class="container__checkbox">
          <ng-container *ngFor="let otro of form.otros">
            <input
              [type]="otro.type"
              class="checkbox__input"
              [id]="otro.label"
              [value]="otro.value"
              (change)="chanceCheckbox($event.target.checked, otro)"
            />
            <label [for]="otro.label" class="checkbox__label">{{
              otro.label | titlecase
            }}</label>
          </ng-container>
        </div>
      </div>
      <!--Otros end-->
      <!--form array beginning-->
      <ng-container
        formArrayName="participantes"
        *ngIf="participantes.controls.length > 0"
      >
        <div>
          <fieldset class="animate__animated animate__fadeIn w__100">
            <h1>Participantes</h1>
            <div *ngFor="let _ of participantes.controls; index as indice">
              <ng-container [formGroupName]="indice">
                <div class="container__card animate__animated animate__fadeIn">
                  <div class="card__item">
                    <lable class="card__title">{{
                      participantes.value[indice].descripcion | titlecase
                    }}</lable>
                  </div>
                  <div class="group mr_02rem">
                    <select
                      class="input-control input-select"
                      formControlName="pl_codper"
                    >
                      <option [value]="null">Seleccionar personal</option>
                      <option
                        [value]="personal.codigo"
                        *ngFor="let personal of personales$ | async"
                      >
                        {{ personal.nombre | titlecase }}
                      </option>
                    </select>
                  </div>
                </div>
              </ng-container>
            </div>
          </fieldset>
          <!-- <fieldset class="animate__animated animate__fadeIn w__100">
            <h1>Disponibilidad de salas</h1> 

            <div class="container__acordion">
              <input
                type="checkbox"
                id="sala01"
                class="checkbox__input"
                value="01"
                (change)="acordionSala($event.target)"
              />
              <label for="sala01" class="item__acordion">Sala 01</label>
              <ng-container *ngIf="sala">
                <div class="grid-container">
                  <div
                    class="grid__items"
                    (click)="setTiempo(salas)"
                    [class.status__ocupado]="salas.estado"
                    *ngFor="let salas of salas$ | async"
                  >
                    {{ salas.hora }}
                  </div>
                </div>
              </ng-container>

              <button class="item__acordion">Sala 02</button>
              <button class="item__acordion">Sala 03</button>
            </div> 
          </fieldset> -->
        </div>
      </ng-container>

      <!--form array end-->
      <fieldset
        *ngIf="!isPanelTiempoProgramacion"
        class="text__align cursor__pointer"
        (click)="panelTiempoProgramacion()"
      >
        <span class="text__color">
          <img src="../../../../assets//icons/add-plus.svg" />
          Agregar tiempo de la intervencion
        </span>
      </fieldset>

      <fieldset *ngIf="isPanelTiempoProgramacion">
        <h1>Dato de la Programacion</h1>
        <div class="row__item">
          <div class="group">
            <select
              class="input-control input-select"
              formControlName="sa_codsal"
            >
              <option
                [value]="sala.sa_codsal"
                *ngFor="let sala of salas$ | async"
              >
                {{ sala.sa_nombre | titlecase }}
              </option>
            </select>
            <label class="label-control">Sala</label>
          </div>
          <div class="group">
            <input
              type="date"
              class="input-control"
              formControlName="cq_fecha"
              placeholder=""
            />
            <label class="label-control">Fecha</label>
          </div>
          <div class="group w__60">
            <input
              type="time"
              class="input-control"
              formControlName="cq_hoinpr"
              placeholder=" "
            />
            <label class="label-control">Hora Inicio</label>
          </div>
          <div class="group w__60">
            <input
              type="time"
              class="input-control"
              formControlName="cq_hofipr"
              placeholder=" "
            />
            <label class="label-control">Hora Fin</label>
          </div>
        </div>
      </fieldset>
      <div class="group">
        <button type="submit" class="btn">Registrar</button>
      </div>
    </div>
  </form>
</div>
<app-programaciondesalas-modal-salas></app-programaciondesalas-modal-salas>
