<ng-container *ngIf="formDynamic$ | async as formsDynamico">
  <h1>{{ formsDynamico.nombre | titlecase }}</h1>
  <div class="card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ng-container *ngFor="let form of formsDynamico.formulariod">
        <div [ngSwitch]="form.controltype">
          <div class="group" *ngSwitchCase="'textbox'">
            <input
              [type]="form.type"
              [id]="form.key"
              [formControlName]="form.key"
              class="input-control"
              placeholder=" "
            />
            <label class="label-control">{{ form.label }}</label>
          </div>

          <div class="group" *ngSwitchCase="'time'">
            <input
              [type]="form.type"
              [id]="form.key"
              [formControlName]="form.key"
              class="input-control"
              placeholder=" "
            />
            <label class="label-control">{{ form.label }}</label>
          </div>
          <div class="group" *ngSwitchCase="'select'">
            <select class="input-control" [formControlName]="form.key">
              <option [ngValue]="null">SELECIONAR {{ form.label }}</option>
              <option
                *ngFor="let option of form.options"
                [ngValue]="option.codigo"
              >
                {{ option.descripcion }}
              </option>
            </select>
          </div>
          <fieldset class="fieldset-group" *ngSwitchCase="'radio'">
            <legend>{{ form.label }}</legend>
            <div class="container-checkbox">
              <ng-container *ngFor="let option of form.options">
                <input
                  type="radio"
                  class="checkbox_input"
                  [formControlName]="form.key"
                  [value]="option.codigo"
                  [id]="option.descripcion"
                />
                <label [for]="option.descripcion" class="checkbox_label">{{
                  option.descripcion
                }}</label>
              </ng-container>
            </div>
          </fieldset>
        </div>
      </ng-container>
      <div class="group">
        <button type="submit" class="btn">
          {{ type === "POST" ? "Registrar" : "Actualizar" }}
        </button>
      </div>
      <div class="group">
        <button type="button" (click)="onNuevo()" class="btn">Nuevo</button>
      </div>
    </form>
  </div>
</ng-container>
