<input
  class="modal-btn"
  type="checkbox"
  id="modal-btn"
  name="modal-btn"
  [checked]="status"
  (click)="onCloseModal()"
/>
<div class="modal" *ngIf="form$ | async as forms">
  <div class="modal-wrap">
    <div class="modal-head">
      <h1>{{ forms.nombre | titlecase }}</h1>
    </div>
    <div class="modal-body modal-scroll-y">
      <div class="card">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ng-container *ngFor="let form of forms.formulariod">
            <div [ngSwitch]="form.controltype">
              <div class="group" *ngSwitchCase="'textbox'">
                <input
                  [type]="form.type"
                  [id]="form.key"
                  [formControlName]="form.key"
                  class="input-control"
                  placeholder=" "
                />
                <label class="label-control">{{
                  form.label | titlecase
                }}</label>
              </div>

              <div class="group" *ngSwitchCase="'time'">
                <input
                  [type]="form.type"
                  [id]="form.key"
                  [formControlName]="form.key"
                  class="input-control"
                  placeholder=" "
                />
                <label class="label-control">{{ form.label }}</label>
              </div>

              <div class="group" *ngSwitchCase="'select'">
                <select class="input-control" [formControlName]="form.key">
                  <option [ngValue]="null">
                    Seleccionar {{ form.label | titlecase }}
                  </option>
                  <option
                    *ngFor="let option of form.options"
                    [ngValue]="option.codigo"
                  >
                    {{ option.descripcion }}
                  </option>
                </select>
              </div>
              <fieldset class="fieldset-group" *ngSwitchCase="'radio'">
                <legend>{{ form.label }}</legend>
                <div class="container-checkbox">
                  <ng-container *ngFor="let option of form.options">
                    <input
                      type="radio"
                      class="checkbox_input"
                      [formControlName]="form.key"
                      [value]="option.codigo"
                      [id]="option.descripcion"
                    />
                    <label [for]="option.descripcion" class="checkbox_label">{{
                      option.descripcion
                    }}</label>
                  </ng-container>
                </div>
              </fieldset>
            </div>
          </ng-container>
          <button type="submit" class="btn">{{ nameButton }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
