.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
}

.cards-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  margin: 0 20px;
  width: 250px;
  height: 250px;
  border-radius: 3rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0 8px 6px -6px black;
}

.card .card_image {
  display: flex;
  padding: 2rem 1rem;
  justify-content: center;
}

.card .card_image img {
  width: 50%;
  height: 50%;
}

.card .card_title {
  text-align: center;
  height: 40px;
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}
