* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 100%;
  border-radius: 2rem;
  padding: 0.5rem 0.5rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.card-head {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.card-body {
  padding: 0.5rem;
  cursor: pointer;
}

.card-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-button img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.card-button button {
  width: 100%;
}

.title {
  font-size: 50px;
  color: #01a272;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

/*************************/

.grid-head {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  border-radius: 1.5rem;
  padding: 0.8rem 0;
  background: #009b6e;
  color: #fff;
  font-size: 20px;
}

.grid-head-item {
  flex: auto;
  text-align: center;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.grid-items {
  border-radius: 1.5rem;
  cursor: pointer;
  text-align: center;
  margin: 0.2em;
  font-size: 20px;
}

.input-control-checkbox {
  display: none;
}

.input-control-checkbox:checked + .grid-items {
  background-color: #f0c882;
  transition: 0.3s;
}

.btn {
  padding: 10px 0;
  border-radius: 2rem;
  border: none;
  background-color: #828282;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

@media (min-width: 768px) and (min-width: 992px) {
  .card {
    padding: 10px;
    width: 100%;
  }

  .card-head {
    padding: 0;
    align-items: center;
  }

  .card-button {
    width: 100%;
  }

  .card-button img {
    width: 40px;
    height: 40px;
  }

  .grid-items {
    margin: 0.1em;
    font-size: 16px;
    padding: 0.5rem;
  }

  .container-button,
  .container-icon {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
}
