* {
  outline: none !important;
}

.wrapper-calendar {
  width: 100%;
  height: auto;
  margin: 1rem;
  padding: 4rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(57, 58, 59, 0.2);
}

ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid #828282;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
}

li:hover {
  font-weight: 600;
}

h2 {
  margin-bottom: 4px;
  padding: 0;
}

.first-day {
  grid-column-start: var(--first-day-start, 0);
}

.day-name {
  background: #eee;
  font-weight: bold;
  margin-bottom: 2px;
  padding: 4px;
  text-align: center;
}

.header-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header-calendar h1 {
  width: 100%;
  text-align: center;
}

.header-calendar button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #828282;
}
