<div class="card animate__animated animate__fadeIn">
  <div class="card-head">
    <h1 class="title animate__animated animate__fadeIn">
      {{ yearMonth | titlecase }}
    </h1>
    <div class="card-button">
      <div class="container-button">
        <button type="button" class="btn" (click)="onToday()">Hoy</button>
      </div>
      <div class="container-icon">
        <img (click)="changeMonth(-1)" src="assets/icons/arrow-left.svg" />

        <img (click)="changeMonth(1)" src="assets/icons/arrow-rigth.svg" />
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="grid-head">
      <span class="grid-head-item" *ngFor="let day of week">{{
        day | slice: 0:1
      }}</span>
    </div>

    <div class="grid-container animate__animated animate__fadeIn">
      <ng-container *ngFor="let a of monthSelect; first as first">
        <ng-container *ngIf="modoAleatorio; else inputRadio">
          <input type="checkbox" [id]="a.day" class="input-control-checkbox" />
        </ng-container>

        <label
          class="grid-items"
          [style.gridColumnStart]="first ? a?.Week : 'auto'"
          [for]="a.day"
          (click)="onDay(a.date, $event)"
          >{{ a?.day }}</label
        >
        <ng-template #inputRadio>
          <input
            type="radio"
            name="day"
            [id]="a.day"
            class="input-control-checkbox"
            [checked]="a.status"
          />
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
