<aside class="container__">
  <input
    type="text"
    [value]="acreditacion.codigoAfiliado"
    disabled
    class="input__controlv2"
  />
  <input
    type="text"
    [value]="acreditacion.producto"
    disabled
    class="input__controlv2"
  />
  <input
    type="text"
    [value]="acreditacion.empresa"
    disabled
    class="input__controlv2"
  />
  <input
    type="text"
    [value]="acreditacion.fechaVigencia"
    disabled
    class="input__controlv2"
  />
  <button (click)="getCoberturas()">COBERTURAS</button>
</aside>
