<ng-container *ngIf="acreditacion">
  <aside [class.container__table]="acreditacion.length >= 4">
    <table>
      <thead>
        <tr>
          <th>PRODUCTO</th>
          <th>CODIGO AFI.</th>
          <th>PACIENTE</th>
          <th>EMPRESA</th>
          <th>DOCUMENTO</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let acreditacion of acreditacion"
          [class.desactive]="acreditacion.CoEsPaciente === '6'"
          (click)="getAcreditacion(acreditacion)"
        >
          <td>{{ acreditacion.CoDescripcion }}</td>
          <td>{{ acreditacion.CoAfPaciente }}</td>
          <td>
            {{ acreditacion.ApPaternoPaciente }}
            {{ acreditacion.ApMaternoPaciente }} {{ acreditacion.NoPaciente }}
          </td>
          <td>{{ acreditacion.NoPaContratante }}</td>
          <td>{{ acreditacion.NuDoPaciente }}</td>
        </tr>
      </tbody>
    </table>
  </aside>
</ng-container>
