.container__ {
  display: flex;
  gap: 1rem;
}

.input__controlv2 {
  width: 100%;
  padding: 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  outline: none;
}

table {
  width: 100%;
  border-radius: 1em;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #cbd5e1;
}

thead {
  background-color: #009b6e;
  color: #fff;
}

td,
th {
  padding: 1rem;
  text-align: center;
}

tbody tr {
  cursor: pointer;
}

.container__table {
  height: 200px;
  overflow-y: scroll;
  border-bottom: 1px solid #cbd5e1;
}

.active {
  background-color: #828282;
}

.desactive {
  background-color: #f89ca0;
}
