<h1 class="title__h1 text__color">{{ title }}</h1>
<div class="containner__button">
  <button type="button" class="btn w__15" (click)="onPerfil('usuario')">
    usuario
  </button>
  <button type="button" class="btn w__15" (click)="onPerfil('admin')">
    admin
  </button>
  <button type="button" class="btn w__15" (click)="onRegistrar()">
    +agregar
  </button>
</div>
<div class="table__desktop animate__animated animate__fadeIn">
  <div class="row__header__desktop">
    <div class="cell">Fecha I/EA</div>
    <div class="cell">Area</div>
    <div class="cell">Historia</div>
    <div class="cell">Turno</div>
    <div class="cell">Usuario</div>
    <div class="cell">Fecha registro</div>
    <div class="cell">Estado I/EA</div>
    <div class="cell">&nbsp;</div>
  </div>
  <div
    class="table"
    *ngFor="let dataIncidencia of dataIncidencia$ | async; index as i"
  >
    <div class="row__header">
      <div class="cell">Fecha I/EA</div>
      <div class="cell">Area</div>
      <div class="cell">Historia</div>
      <div class="cell">Turno</div>

      <div class="cell">Usuario</div>
      <div class="cell">Fecha registro</div>
      <div class="cell">Estado I/EA</div>
      <div class="cell">&nbsp;</div>
    </div>
    <div class="row__body">
      <div class="cell">{{ dataIncidencia.fecha_incidencia }}</div>
      <div class="cell">{{ dataIncidencia.reporta_area }}</div>
      <div class="cell">{{ dataIncidencia.historia }}</div>
      <div class="cell">
        {{ dataIncidencia.turno | statusDinamico: "turno" | titlecase }}
      </div>

      <div class="cell">{{ dataIncidencia.usuario_registro | titlecase }}</div>
      <div class="cell">{{ dataIncidencia.fecha_registro | date }}</div>
      <div
        class="cell"
        [class.status__success]="dataIncidencia.estado === 3"
        [class.status__warning]="dataIncidencia.estado === 2"
        [class.status__danger]="dataIncidencia.estado === 1"
      >
        {{ dataIncidencia.estado | statusDinamico: "status" | titlecase }}
      </div>
      <div class="cell dropdown">
        <input
          type="checkbox"
          name="settings"
          class="input__checkbox"
          id="{{ 'settings' + i }}"
        />
        <label for="{{ 'settings' + i }}" class="label__control">
          <img
            src="../../../../assets/icons/settings__option.svg"
            class="actions__icons"
          />
        </label>

        <div class="dropdown__content animate__animated animate__fadeIn">
          <div
            class="dropdown__item"
            *ngFor="let data of datas$ | async"
            (click)="dropdownDynamic(data, dataIncidencia)"
          >
            <img [src]="data.img" class="img__icon" />
            <span>{{ data.nombre }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
