<h1 class="text__title text__color mbt_3">{{ nameButton }} {{ title }}</h1>
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="animate__animated animate__fadeIn"
>
  <div class="card">
    <div class="row__item" [class.mb_1]="historia || fecha">
      <div class="group mr_05" [class.mb_3]="fecha" [class.mb_1]="fecha">
        <input
          type="date"
          class="input__control"
          placeholder=" "
          formControlName="fecha_incidencia"
          [class.valid]="f.fecha_incidencia.valid"
          [class.input__invalid]="fecha"
        />
        <label
          class="label__control"
          [class.invalid__warning]="fecha"
          [class.valid__success]="f.fecha_incidencia.valid"
          >Fecha I/EA</label
        >
        <div class="invalid animate__animated animate__fadeIn" *ngIf="fecha">
          <span
            *ngIf="f.fecha_incidencia.errors?.required"
            class="container__erros"
          >
            <svg
              aria-hidden="true"
              class="message-text"
              fill="currentColor"
              focusable="false"
              width="16px"
              height="16px"
              viewBox="0 0 24 24"
              xmlns="https://www.w3.org/2000/svg"
            >
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
              ></path>
            </svg>
            <span class="ml__05">Se requiere la fecha de la I/A</span>
          </span>
        </div>
      </div>
      <div class="group" [class.mb_3]="historia" [class.mb_1]="historia">
        <input
          type="text"
          class="input__control"
          placeholder="Ingresar historia"
          formControlName="historia"
          [class.input__invalid]="historia"
          [class.valid]="f.historia.valid"
        />
        <label
          class="label__control"
          [class.invalid__warning]="historia"
          [class.valid__success]="f.historia.valid"
          >Historia</label
        >
        <div class="invalid animate__animated animate__fadeIn" *ngIf="historia">
          <span *ngIf="f.historia.errors?.required" class="container__erros">
            <svg
              aria-hidden="true"
              class="message-text"
              fill="currentColor"
              focusable="false"
              width="16px"
              height="16px"
              viewBox="0 0 24 24"
              xmlns="https://www.w3.org/2000/svg"
            >
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
              ></path>
            </svg>
            <span class="ml__05">Se requiere la Historia</span>
          </span>
        </div>
      </div>
    </div>
    <div class="group group__textarea" [class.mb_2_5]="glosa">
      <textarea
        cols="30"
        rows="10"
        class="input__control"
        placeholder="Ingresa observacion si mueres "
        formControlName="glosa"
        [class.valid]="f.glosa.valid"
        [class.input__invalid]="glosa"
      ></textarea>
      <label
        class="label__control"
        [class.invalid__warning]="glosa"
        [class.valid__success]="f.glosa.valid"
        >Descripcion</label
      >
      <div class="invalid animate__animated animate__fadeIn" *ngIf="glosa">
        <span *ngIf="f.glosa.errors?.required" class="container__erros">
          <svg
            aria-hidden="true"
            class="message-text"
            fill="currentColor"
            focusable="false"
            width="16px"
            height="16px"
            viewBox="0 0 24 24"
            xmlns="https://www.w3.org/2000/svg"
          >
            <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
            ></path>
          </svg>
          <span class="ml__05">Se requiere descripcion de I/EA</span>
        </span>
      </div>
    </div>
    <div class="group" [class.mb_2_5]="reportaArea">
      <input
        type="text"
        class="input__control"
        placeholder=" "
        formControlName="reporta_area"
        [class.valid]="f.reporta_area.valid"
        [class.input__invalid]="reportaArea"
      />
      <label
        class="label__control"
        [class.invalid__warning]="reportaArea"
        [class.valid__success]="f.reporta_area.valid"
        >Area que Reporta</label
      >
      <div
        class="invalid animate__animated animate__fadeIn"
        *ngIf="reportaArea"
      >
        <span *ngIf="f.reporta_area.errors?.required" class="container__erros">
          <svg
            aria-hidden="true"
            class="message-text"
            fill="currentColor"
            focusable="false"
            width="16px"
            height="16px"
            viewBox="0 0 24 24"
            xmlns="https://www.w3.org/2000/svg"
          >
            <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
            ></path>
          </svg>
          <span class="ml__05">Se requiere el area que reporta</span>
        </span>
      </div>
    </div>

    <h1>Turnos</h1>
    <div class="container__radio" [class.mb__0]="turno">
      <input
        type="radio"
        id="Mañana"
        class="input__radio"
        formControlName="turno"
        [value]="1"
      /><label for="Mañana" class="label__radio">Mañana</label>
      <input
        type="radio"
        id="Tarde"
        class="input__radio"
        formControlName="turno"
        [value]="2"
      /><label for="Tarde" class="label__radio">Tarde</label>
      <input
        type="radio"
        id="Noche"
        class="input__radio"
        formControlName="turno"
        [value]="3"
      /><label for="Noche" class="label__radio">Noche</label>
    </div>
    <div
      class="invalid__container animate__animated animate__fadeIn"
      *ngIf="turno"
    >
      <span *ngIf="f.turno.errors?.required" class="container__erros">
        <svg
          aria-hidden="true"
          class="message-text"
          fill="currentColor"
          focusable="false"
          width="16px"
          height="16px"
          viewBox="0 0 24 24"
          xmlns="https://www.w3.org/2000/svg"
        >
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
          ></path>
        </svg>
        <span class="ml__05">Se requiere el turno</span>
      </span>
    </div>
  </div>

  <!-- <h1 class="text__subtitle text__center text__color">Involucrados I/EA</h1>
  <div class="row__item mb_1">
    <div
      class="container__checkbox"
      *ngFor="let involucrado of involucrados$ | async"
    >
      <h2 class="title__subtitle text__color">
        {{ involucrado.descripcion | titlecase }}
      </h2>
      <ng-container *ngFor="let detalle of involucrado.detalles">
        <input
          type="checkbox"
          (change)="addDetail($event.target, detalle)"
          class="input__checkbox"
          [id]="detalle.descripcion"
          [formControlName]="detalle.id"
        />
        <label class="label__checkbox" [for]="detalle.descripcion">{{
          detalle.descripcion | titlecase
        }}</label>
      </ng-container>
    </div>
  </div>
  <div
    *ngIf="involucrados"
    class="
      invalid__container
      animate__animated animate__fadeIn
      container__erros
    "
  >
    <svg
      aria-hidden="true"
      class="message-text"
      fill="currentColor"
      focusable="false"
      width="16px"
      height="16px"
      viewBox="0 0 24 24"
      xmlns="https://www.w3.org/2000/svg"
    >
      <path
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
      ></path>
    </svg>
    <span class="ml__05">Seleccionar al menos un involucrado para I/EA</span>
  </div> -->

  <div
    class="container__acordeon"
    *ngFor="let involucrado of involucrados$ | async"
  >
    <input
      type="checkbox"
      class="input__checkbox"
      [id]="involucrado.descripcion"
    />
    <label class="acordeon__head" [for]="involucrado.descripcion">
      {{ involucrado.descripcion }}
      <span class="text__h5">(puede marcar más de una)</span>
    </label>

    <div class="acordeon__body">
      <ng-container *ngFor="let detalle of involucrado.detalles">
        <input
          type="checkbox"
          (change)="addDetail($event.target, detalle)"
          class="input__checkbox"
          [id]="detalle.descripcion"
          [formControlName]="detalle.id"
        />
        <label class="label__checkbox mr__05" [for]="detalle.descripcion">{{
          detalle.descripcion | title
        }}</label>
      </ng-container>
    </div>
  </div>

  <div class="group" *ngIf="nameButton">
    <button class="btn">{{ nameButton }}</button>
  </div>
</form>
