<h1 class="text__title text__color mbt_3">{{ title | titlecase }}</h1>
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="animate__animated animate__fadeIn"
>
  <div class="card">
    <div class="row__item" [class.mb_1]="historia || fecha">
      <div class="group mr_05" [class.mb_3]="fecha" [class.mb_1]="fecha">
        <input
          type="date"
          class="input__control"
          placeholder=" "
          formControlName="fecha"
          [class.valid]="f.fecha.valid"
          [class.input__invalid]="fecha"
        />
        <label
          class="label__control"
          [class.invalid__warning]="fecha"
          [class.valid__success]="f.fecha.valid"
          >Fecha I/A</label
        >
        <div class="invalid animate__animated animate__fadeIn" *ngIf="fecha">
          <span *ngIf="f.fecha.errors?.required">
            <svg
              aria-hidden="true"
              class="message-text"
              fill="currentColor"
              focusable="false"
              width="16px"
              height="16px"
              viewBox="0 0 24 24"
              xmlns="https://www.w3.org/2000/svg"
            >
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
              ></path>
            </svg>
            Se requiere la fecha de la I/A
          </span>
        </div>
      </div>
      <div class="group" [class.mb_3]="historia" [class.mb_1]="historia">
        <input
          type="number"
          class="input__control"
          placeholder=" "
          formControlName="historia"
          [class.valid]="f.historia.valid"
          [class.input__invalid]="historia"
        />
        <label
          class="label__control"
          [class.invalid__warning]="historia"
          [class.valid__success]="f.historia.valid"
          >Historia</label
        >
        <div class="invalid animate__animated animate__fadeIn" *ngIf="historia">
          <span *ngIf="f.historia.errors?.required">
            <svg
              aria-hidden="true"
              class="message-text"
              fill="currentColor"
              focusable="false"
              width="16px"
              height="16px"
              viewBox="0 0 24 24"
              xmlns="https://www.w3.org/2000/svg"
            >
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
              ></path>
            </svg>
            Se requiere la Historia
          </span>
        </div>
      </div>
    </div>
    <div class="group group__textarea" [class.mb_2_5]="glosa">
      <textarea
        cols="30"
        rows="10"
        class="input__control"
        placeholder=" "
        formControlName="glosa"
        [class.valid]="f.glosa.valid"
        [class.input__invalid]="glosa"
      ></textarea>
      <label
        class="label__control"
        [class.invalid__warning]="glosa"
        [class.valid__success]="f.glosa.valid"
        >Descripcion</label
      >
      <div class="invalid animate__animated animate__fadeIn" *ngIf="glosa">
        <span *ngIf="f.glosa.errors?.required">
          <svg
            aria-hidden="true"
            class="message-text"
            fill="currentColor"
            focusable="false"
            width="16px"
            height="16px"
            viewBox="0 0 24 24"
            xmlns="https://www.w3.org/2000/svg"
          >
            <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
            ></path>
          </svg>
          Se requiere la descripcion de la I/A
        </span>
      </div>
    </div>

    <h1>Turnos</h1>
    <div class="container__radio" [class.mb__0]="turno">
      <input
        type="radio"
        id="Mañana"
        class="input__radio"
        formControlName="turno"
        value="1"
      /><label for="Mañana" class="label__radio">Mañana</label>
      <input
        type="radio"
        id="Tarde"
        class="input__radio"
        formControlName="turno"
        value="2"
      /><label for="Tarde" class="label__radio">Tarde</label>
      <input
        type="radio"
        id="Noche"
        class="input__radio"
        formControlName="turno"
        value="3"
      /><label for="Noche" class="label__radio">Noche</label>
    </div>
    <div
      class="invalid__container animate__animated animate__fadeIn"
      *ngIf="turno"
    >
      <span *ngIf="f.turno.errors?.required">
        <svg
          aria-hidden="true"
          class="message-text"
          fill="currentColor"
          focusable="false"
          width="16px"
          height="16px"
          viewBox="0 0 24 24"
          xmlns="https://www.w3.org/2000/svg"
        >
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
          ></path>
        </svg>
        Se requiere el turno
      </span>
    </div>
  </div>

  <div class="row__item mb_1">
    <div class="container__checkbox">
      <h2 class="title__subtitle text__color">Área Asociada a la I/A</h2>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="01"
        data-tipo="01"
        id="Centro obstetrico y emergencia"
      />
      <label class="label__checkbox" for="Centro obstetrico y emergencia"
        >Centro obstetrico y emergencia</label
      >
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="02"
        data-tipo="01"
        id="Neonatologia"
      />
      <label class="label__checkbox" for="Neonatologia">Neonatologia</label>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="03"
        data-tipo="01"
        id="Centro Quirurgico"
      />
      <label class="label__checkbox" for="Centro Quirurgico"
        >Centro Quirurgico</label
      >
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="04"
        data-tipo="01"
        id="Consultorios Externo / Vacunación"
      />
      <label class="label__checkbox" for="Consultorios Externo / Vacunación"
        >Consultorios Externo / Vacunación</label
      >
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="05"
        data-tipo="01"
        id="Hospitalización"
      />
      <label class="label__checkbox" for="Hospitalización"
        >Hospitalización</label
      >
    </div>
    <div class="container__checkbox">
      <h2 class="title__subtitle text__color">
        Areas de diagnostico y apoyo clinico
      </h2>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        value="06"
        class="input__checkbox"
        data-tipo="02"
        id="Laboratorio"
      />
      <label class="label__checkbox" for="Laboratorio">Laboratorio</label>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="07"
        data-tipo="02"
        id="Patologia"
      />
      <label class="label__checkbox" for="Patologia">Patologia</label>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="08"
        data-tipo="02"
        id="Rayos x"
      />
      <label class="label__checkbox" for="Rayos x">Rayos x</label>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="09"
        data-tipo="02"
        id="Ecografia"
      />
      <label class="label__checkbox" for="Ecografia">Ecografia</label>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="10"
        data-tipo="02"
        id="Farmacia"
      />
      <label class="label__checkbox" for="Farmacia">Farmacia</label>
    </div>
    <div class="container__checkbox">
      <h2 class="title__subtitle text__color">
        Colaborador involucrado al I/A
      </h2>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="11"
        data-tipo="03"
        id="Medico"
      />
      <label class="label__checkbox" for="Medico">Médico</label>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="12"
        data-tipo="03"
        id="Enfermera"
      />
      <label class="label__checkbox" for="Enfermera">Enfermera</label>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="13"
        data-tipo="03"
        id="Obstétricas"
      />
      <label class="label__checkbox" for="Obstétricas">Obstétricas</label>
      <input
        type="checkbox"
        (change)="addDetail($event.target)"
        class="input__checkbox"
        value="14"
        data-tipo="03"
        id="Tec. de Enfermeria"
      />
      <label class="label__checkbox" for="Tec. de Enfermeria"
        >Tec. de Enfermería</label
      >
    </div>
  </div>

  <div class="group">
    <button class="btn">Enviar</button>
  </div>
</form>
