<div class="animate__animated animate__fadeIn">
  <ng-container *ngIf="agendaSoaps$ | async as agendaSoaps">
    <ng-container *ngIf="agendaSoaps.message; else messageOtro">
      <div class="container__layout">
        <div class="card" (click)="onRegistrar()">
          <img
            src="../../../../assets/icons/new-document.png"
            class="icon__lg"
          />
          <h1 class="title__h1">{{ agendaSoaps.message }}</h1>
          <button type="button" class="btn w__50" (click)="onRegistrar()">
            +Agregar
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #messageOtro>
      <button class="btn" (click)="onRegistrar()">+Agregar</button>
      <div class="table__desktop animate__animated animate__fadeIn">
        <div class="row__header__desktop">
          <div class="cell">Sala</div>
          <div class="cell">Hora</div>
          <div class="cell">Cirujano</div>
          <div class="cell">Paciente</div>
          <div class="cell">Estado</div>
          <div class="cell">&nbsp;</div>
        </div>
        <div class="table" *ngFor="let agendaSoap of agendaSoaps">
          <div class="row__header">
            <div class="cell">Sala</div>
            <div class="cell">Hora</div>
            <div class="cell">Cirujano</div>
            <div class="cell">Paciente</div>
            <div class="cell">Estado</div>
            <div class="cell">&nbsp;</div>
          </div>
          <div class="row__body">
            <div class="cell">{{ agendaSoap.sala }}</div>
            <div class="cell">{{ agendaSoap.diahora }}</div>
            <div class="cell cell__scroll">
              {{ agendaSoap.cirujano | titlecase }}
            </div>
            <div class="cell cell__scroll">
              {{ agendaSoap.paciente | titlecase }}
            </div>
            {{ reprogramacion }}
            <div
              class="cell"
              [class.status__success]="agendaSoap.cq_estado === '1'"
              [class.status__warning]="agendaSoap.cq_estado === '2'"
              [class.status__danger]="agendaSoap.cq_estado === '3'"
            >
              {{ agendaSoap.cq_estado | programmingStatus: agendaSoap }}
            </div>
            <div class="cell dropdown">
              <img
                src="../../../../assets/icons/settings__option.svg"
                class="actions__icons"
              />
              <div class="dropdown__content">
                <div class="dropdown__item" (click)="onUpdate(agendaSoap)">
                  <img
                    src="../../../../assets/icons/pen.png"
                    class="img__icon"
                  />
                  <span>Editar</span>
                </div>
                <div class="dropdown__item" (click)="onReprogramar(agendaSoap)">
                  <img
                    src="../../../../assets/icons/clock.png"
                    class="img__icon"
                  />
                  <span>Reprogramar</span>
                </div>
                <div class="dropdown__item" (click)="onSuspender(agendaSoap)">
                  <img
                    src="../../../../assets/icons/no-stopping.png"
                    class="img__icon"
                  />
                  <span>Suspender</span>
                </div>
                <div
                  class="dropdown__item"
                  (click)="onInformeOperatorio(agendaSoap)"
                >
                  <img
                    src="../../../../assets/icons/new-document.png"
                    class="img__icon"
                  />
                  <span>Inf. Operatorio</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
