<div class="table animate__animated animate__fadeIn">
  <div class="row__header">
    <div class="cell cell__20">Sala</div>
    <div class="cell cell__20">Hora</div>
    <div class="cell cell__50">Cirujano</div>
    <div class="cell">Paciente</div>
    <div class="cell cell__20">&nbsp;</div>
  </div>
  <div class="row__body" *ngFor="let agendaSoap of agendaSoaps$ | async">
    <div class="cell cell__20">{{ agendaSoap.sala }}</div>
    <div class="cell cell__20">{{ agendaSoap.diahora | slice: 1:5 }}</div>
    <div class="cell cell__50">{{ agendaSoap.cirujano | titlecase }}</div>
    <div class="cell cell__text__left">
      {{ agendaSoap.paciente | titlecase }}
    </div>
    <div class="cell cell__20">
      <img
        src="../../../../assets/icons/settings__option.svg"
        class="actions__icons"
        (click)="views(agendaSoap)"
      />
    </div>
  </div>
</div>
<app-programaciondesalas-modal></app-programaciondesalas-modal>
