.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2rem;
  box-shadow: rgba(92, 99, 105, 0.1) 0px 4px 16px,
    rgba(92, 99, 105, 0.1) 0px 8px 24px, rgba(92, 99, 105, 0.1) 0px 16px 56px;
  height: 355px;
}

.row-header {
  display: flex;
  justify-content: space-between;
  background-color: #009b6e;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.row-header .cell {
  text-align: center;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #fff;
  font-weight: 600;
}

.row-body {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: 300px;
}

.row-body .cell {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 0;
  text-align: center;
}

.footer-pagination {
  display: flex;
  justify-content: center;
}

.message-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  border: 1px solid red;
  color: red;
  padding: 0 1.2rem;
  border-radius: 2rem;
}
