<ng-container *ngIf="listados?.length > 1; else message">
  <div class="table animate__animated animate__fadeIn">
    <div class="row-header">
      <div class="cell">Paciente</div>
      <div class="cell">Medico</div>
      <div class="cell">Consultorio</div>
      <div class="cell">Fecha</div>
      <div class="cell">Hora</div>
      <div class="cell">Historia</div>
    </div>
    <div
      class="row-body animate__animated animate__fadeIn"
      *ngFor="
        let listado of listados | paginate: { itemsPerPage: 6, currentPage: p }
      "
    >
      <div class="cell">{{ listado.paciente | titlecase }}</div>
      <div class="cell">{{ listado.medico | titlecase }}</div>
      <div class="cell">{{ listado.consultorio }}</div>
      <div class="cell">{{ listado.fecha }}</div>
      <div class="cell">{{ listado.hora }}</div>
      <div class="cell">{{ listado.historia }}</div>
    </div>
    <div class="footer-pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</ng-container>

<ng-template #message>
  <div class="message-error animate__animated animate__fadeIn">
    <h1>Busqueda por historia!</h1>
  </div>
</ng-template>
