<div class="container">
  <h1 class="title__h1 text__color">Reporte de Sala de Operaciones</h1>
  <div class="container__data">
    <div class="container__group w__50 mr_1rem">
      <div class="content__head">
        <span class="text__title">Datos Personales</span>
      </div>
      <div class="content__body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora
        officia consectetur autem vitae iste placeat cupiditate, inventore nemo
        quod, dolore accusamus nobis perspiciatis modi unde odit corrupti
        asperiores enim! Non.
      </div>
    </div>
    <div class="container__group w__50">
      <div class="content__head">
        <span class="text__title">Personal de sala</span>
      </div>
      <div class="content__body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora
        officia consectetur autem vitae iste placeat cupiditate, inventore nemo
        quod, dolore accusamus nobis perspiciatis modi unde odit corrupti
        asperiores enim! Non.
      </div>
    </div>
  </div>

  <div class="container__group">
    <div class="content__head">
      <span class="text__title">Diagnosticos</span>
    </div>
    <div class="content__body">
      <div class="row">
        <div class="group">
          <input type="text" class="input-control" placeholder=" " />
          <div class="label-control">Diagnosticos Pre-Operatorio</div>
        </div>
        <div class="group">
          <input type="text" class="input-control" placeholder=" " />
          <div class="label-control">Diagnosticos Post-Operatorio</div>
        </div>
        <div class="group textarea">
          <textarea
            class="input-control"
            placeholder=" "
            rows="5"
            cols="10"
          ></textarea>
          <div class="label-control">Procedimientos</div>
        </div>
        <div class="group textarea">
          <textarea
            class="input-control"
            placeholder=" "
            rows="5"
            cols="10"
          ></textarea>
          <div class="label-control">Hallazgos</div>
        </div>
        <div class="group textarea">
          <textarea
            class="input-control"
            placeholder=" "
            rows="5"
            cols="10"
          ></textarea>
          <div class="label-control">Complicationes</div>
        </div>
        <div class="group">
          <input type="text" class="input-control" placeholder=" " />
          <div class="label-control">Anatomia Patologica</div>
        </div>
        <div class="group">
          <input type="text" class="input-control" placeholder=" " />
          <div class="label-control">Sangrado aprox</div>
        </div>
        <input type="radio" id="completo" name="gasa" />
        <label for="completo">Completo</label>
        <input type="radio" id="incompleto" name="gasa" />
        <label for="incompleto">Incompleto</label>
        <input type="radio" id="ninguna" name="gasa" />
        <label for="ninguna">N/A</label>
      </div>
    </div>
  </div>
</div>
