<div class="container">
  <h1 class="title__h1">Reporte de Sala de Operaciones</h1>
  <div class="container__data">
    <div class="container__group w__50 mr_1rem">
      <div class="content__head">
        <span class="text__title">Datos Personales</span>
      </div>
      <div class="content__body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora
        officia consectetur autem vitae iste placeat cupiditate, inventore nemo
        quod, dolore accusamus nobis perspiciatis modi unde odit corrupti
        asperiores enim! Non.
      </div>
    </div>
    <div class="container__group w__50">
      <div class="content__head">
        <span class="text__title">Personal de sala</span>
      </div>
      <div class="content__body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora
        officia consectetur autem vitae iste placeat cupiditate, inventore nemo
        quod, dolore accusamus nobis perspiciatis modi unde odit corrupti
        asperiores enim! Non.
      </div>
    </div>
  </div>

  <div class="container__group">
    <div class="content__head">
      <span class="text__title">Diagnosticos</span>
    </div>
    <div class="content__body">
      <div class="row">
        <textarea></textarea>
        <textarea></textarea>
      </div>
    </div>
  </div>
</div>
