.container__data {
  display: flex;
  justify-content: space-around;
}

.content__head,
.container__group {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.content__body,
.container__group {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.container__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content__head {
  background-color: #009b6e;
  padding: 1rem 1.5rem;
}

.content__head,
.content__body {
  padding: 1rem 1.5rem;
}

.text__title {
  color: #fff;
  font-weight: 600;
}

.w__50 {
  width: 50%;
}

.mr_1rem {
  margin-right: 1rem;
}

.title__h1 {
  text-align: center;
  font-size: 2rem;
}

.text__color {
  color: #f0c882;
}

/********/

.group {
  position: relative;
  height: 45px;
  margin-bottom: 1.2rem;
  margin-right: 0.5rem;
  width: 100%;
}

.textarea {
  height: 100px;
}

.input-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid #dadce0;
  outline: none;
  background: none;
  z-index: 1;
}

.label-control {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  background-color: #fff;
  padding: 0 0.25rem;
  color: #80868b;
  transition: 0.3s;
}

.input-control:focus + .label-control {
  top: -0.5rem;
  left: 0.9rem;
  z-index: 1;
  font-weight: 500;
  font-size: 0.75rem;
  color: #fe7b12;
}

.input-control:not(:placeholder-shown).input-control:not(:focus)
  + .label-control {
  top: -0.5rem;
  left: 0.9rem;
  z-index: 1;
  font-weight: 500;
  font-size: 0.75rem;
}

.input-control:focus {
  border: 1px solid #fe7b12;
}
