<div class="container animate__animated animate__fadeIn">
  <h1 class="title__h1 text__color">Reporte de Sala de Operaciones</h1>
  <div class="container__data" *ngIf="programacionSalas$ | async as datas">
    <div class="container__group w__50 mr_1rem">
      <div class="content__head">
        <span class="text__title">Datos de la programacion</span>
      </div>
      <div class="content__body">
        <div class="table">
          <div class="row__header">
            <div class="cell">Historia</div>
            <div class="cell">Paciente</div>
            <div class="cell">Edad</div>
            <div class="cell">Hora Inicio</div>
            <div class="cell">Hora Fin</div>
            <div class="cell">Fecha</div>
          </div>
          <div class="row__body">
            <div class="cell">{{ datas.historia }}</div>
            <div class="cell">{{ datas.paciente | titlecase }}</div>
            <div class="cell">{{ datas.edad }}</div>
            <div class="cell">{{ datas.inicioDeProgramacion }}</div>
            <div class="cell">{{ datas.finDeProgramacion }}</div>
            <div class="cell">{{ datas.fechaDeProgramacion }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container__group w__50">
      <div class="content__head">
        <span class="text__title">Personal de sala</span>
      </div>
      <div class="content__body">
        <div class="container__content" *ngFor="let detalle of datas.detalles">
          <div class="item__content w__40">
            {{ detalle.cq_codpar | titlecase }}
          </div>
          <div class="item__content w__60">
            {{ detalle.pl_codper | personal | titlecase }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container__group">
    <div class="content__head">
      <span class="text__title">Diagnosticos</span>
    </div>
    <div class="content__body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="row__item">
            <div class="group">
              <input
                type="search"
                class="input-control"
                formControlName="cq_diag_pre_ope"
                placeholder=" "
                (keyup)="search($event.target)"
              />
              <div class="label-control">Diagnosticos Pre-Operatorio</div>
              <ng-container *ngIf="diagnosticosPre">
                <app-cie-search
                  [data]="searchCie$ | async"
                  (selectCie)="onSelectCie($event)"
                ></app-cie-search>
              </ng-container>
            </div>

            <div class="group">
              <input
                type="search"
                class="input-control"
                formControlName="cq_diag_pos_ope"
                placeholder=" "
                (keyup)="search($event.target)"
              />
              <div class="label-control">Diagnosticos Post-Operatorio</div>
              <ng-container *ngIf="diagnosticosPos">
                <app-cie-search
                  [data]="searchCie$ | async"
                  (selectCie)="onSelectCie($event)"
                ></app-cie-search>
              </ng-container>
            </div>
          </div>
          <div class="group textarea">
            <textarea
              class="input-control p-1"
              placeholder=" "
              rows="5"
              cols="10"
              formControlName="cq_diag_procedimientos"
            ></textarea>
            <div class="label-control">Procedimientos</div>
          </div>
          <div class="group textarea">
            <textarea
              class="input-control p-1"
              placeholder=" "
              rows="5"
              cols="10"
              formControlName="cq_diag_hallazgos"
            ></textarea>
            <div class="label-control">Hallazgos</div>
          </div>
          <div class="group textarea">
            <textarea
              class="input-control p-1"
              placeholder=" "
              rows="5"
              cols="10"
              formControlName="cq_diag_complicaciones"
            ></textarea>
            <div class="label-control">Complicaciones</div>
          </div>
          <div class="row__item">
            <div class="group">
              <input
                type="text"
                class="input-control"
                placeholder=" "
                formControlName="cq_patolo"
              />
              <div class="label-control">Anatomia Patologica</div>
            </div>
            <div class="group">
              <input
                type="text"
                class="input-control"
                placeholder=" "
                formControlName="cq_diag_sang_aprox"
              />
              <div class="label-control">Sangrado aprox (ml.)</div>
            </div>
          </div>
          <fieldset>
            <h1 class="text__secondary">Conteo de Gasas</h1>
            <div class="container__checkbox">
              <ng-container *ngFor="let data of radioDynamic$ | async">
                <input
                  type="radio"
                  class="checkbox__input"
                  [id]="data.label"
                  [value]="data.value"
                  [formControlName]="data.control"
                />
                <label [for]="data.label" class="checkbox__label">{{
                  data.label
                }}</label>
              </ng-container>
            </div>
            <ng-container *ngIf="submit && cq_contgas.invalid">
              <div *ngIf="cq_contgas.errors?.required">
                Seleccionar el tipo de gasas
              </div>
            </ng-container>
          </fieldset>
        </div>
        <button class="btn">Registrar</button>
      </form>
    </div>
  </div>
</div>
