<div class="animate__animated animate__fadeIn">
  <h1 class="title__h1">Reprogramar</h1>
  <div class="container__content" *ngIf="datas$ | async as datas">
    <div class="container__group">
      <div class="content__head">
        <span class="text__title">Datos de la Programacion</span>
      </div>
      <div class="content__body">
        <ul>
          <li>{{ datas.paciente | titlecase }}</li>
          <li>{{ datas.intervencion | titlecase }}</li>
          <li>{{ datas.cirujano | titlecase }}</li>
          <li>{{ datas.tiempo }}</li>
        </ul>
      </div>
    </div>
  </div>

  <app-programaciondesalas-disponibilidaddesalas></app-programaciondesalas-disponibilidaddesalas>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset class="animate__animated animate__fadeIn">
      <h1>Hora Programada</h1>
      <div class="row__item">
        <div class="group mr_05rem">
          <select
            class="input-control input-select"
            formControlName="sa_codsal"
          >
            <option value="null">Seleccionar</option>
            <option
              [value]="salas.sa_codsal"
              *ngFor="let salas of salas$ | async"
            >
              {{ salas.sa_nombre | titlecase }}
            </option>
          </select>
          <label class="label-control">Salas</label>
        </div>
        <div class="group mr_05rem">
          <input
            type="date"
            class="input-control"
            placeholder=" "
            formControlName="cq_fecha"
          />
          <label class="label-control">Fecha</label>
        </div>
        <div class="group mr_05rem w__50">
          <input
            type="time"
            class="input-control"
            placeholder=" "
            formControlName="cq_hoinpr"
          />
          <label class="label-control">Hora Inicio</label>
        </div>
        <div class="group mr_05rem w__50">
          <input
            type="time"
            class="input-control"
            placeholder=" "
            formControlName="cq_hofipr"
          />
          <label class="label-control">Hora fin</label>
        </div>
      </div>
    </fieldset>
    <div class="group">
      <button type="submit" class="btn">Actualizar</button>
    </div>
  </form>
</div>
