.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2rem;
  margin-left: 20px;
  height: 520px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  border: 1px solid #dadce0;
}

.row-header {
  display: flex;
  justify-content: space-between;
  background-color: #009b6e;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.row-header .cell {
  text-align: center;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #fff;
  font-weight: 600;
}

.table .row-header .cell-30 {
  width: 30%;
}

.row-body {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.row-body:hover {
  border: 1px solid #fe7b12;
  font-weight: 600;
}

.row-body .cell {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.table .row-body .cell-text-left {
  padding-left: 15px;
  text-align: left;
}

.table .row-body .cell-30 {
  width: 30%;
  border-right: 1px solid #dbdbdb;
}

.cell .icon-action-svg {
  cursor: pointer;
}

.icon-svg:hover {
  color: #fe7b12;
}
/***************/
.footer-pagination {
  display: flex;
  justify-content: center;
}

/*************************/
.message-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  border: 1px solid red;
  color: red;
  padding: 0 1.2rem;
  border-radius: 2rem;
}
