<div class="table">
  <div class="row-header">
    <div class="cell">Historia</div>
    <div class="cell">Paciente</div>
    <div class="cell">Hora cita</div>
    <div class="cell">Action</div>
  </div>
  <div
    class="row"
    [ngStyle]="{
      'background-color': pacientesCitado.estado === 'R' ? '#ccffff' : '#ceffce'
    }"
    *ngFor="
      let pacientesCitado of pacientesCitados$
        | async
        | paginate: { itemsPerPage: 5, currentPage: p }
    "
  >
    <div class="cell">
      {{ pacientesCitado.historia | titlecase }}
    </div>

    <div class="cell">
      {{ pacientesCitado.paciente | titlecase }}
    </div>
    <div class="cell">
      {{ pacientesCitado.hora }}
    </div>
    <div class="cell">
      <div class="icon-action-svg" (click)="pagesActomedico(pacientesCitado)">
        <img src="../../../../assets//icons/checklist.svg" />
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
