<input
  class="modal-btn"
  type="checkbox"
  id="modal-btn"
  name="modal-btn"
  [checked]="status"
  (click)="closeModal()"
/>
<div class="modal">
  <div class="modal-wrap">
    <div class="modal-head">
      {{ Tittle }}
    </div>
    <div class="modal-body">
      <div class="flex-container">
        <div class="flex-item">
          <select class="input-control input-select" formControlName="forma">
            <option [ngValue]="1">Contado</option>
            <option [ngValue]="2">Crédito</option>
          </select>
          <label class="label-control" for="tipo_comprobante">Forma de Pago</label>
        </div>
        <div class="flex-item">
          <select class="input-control input-select" formControlName="medio">
            <option [ngValue]="1">Efectivo</option>
            <option [ngValue]="2">Tarjeta de Crédico</option>
            <option [ngValue]="3">Tarjeta de Débito</option>
            <option [ngValue]="4">Nota de Crédito</option>
          </select>
          <label class="label-control" for="tipo_comprobante">Forma de Pago</label>
        </div>
      </div>
    </div>
  </div>
</div>
