<input
  class="modal-btn"
  type="checkbox"
  id="modal-btn"
  name="modal-btn"
  [checked]="isModal"
  (click)="onCloseModal()"
/>

<div class="modal">
  <div class="modal-wrap" *ngIf="programacionData as programacion">
    <div class="modal-head">
      <span class="modal-title">{{ programacion.sala }}</span>
    </div>
    <div class="modal-body modal-scroll-y">
      <div class="group__list">
        <div class="list__item">
          <span class="w__30">Paciente</span
          ><span>{{ programacion.paciente | titlecase }}</span>
        </div>
        <div class="list__item">
          <span>Cirujano</span
          ><span>{{ programacion.cirujano | titlecase }}</span>
        </div>
        <div class="list__item">
          <span>Intervencion</span
          ><span>{{ programacion.intervencion | titlecase }}</span>
        </div>
        <div class="list__item">
          <span>anestesia</span
          ><span>{{ programacion.anestesia | titlecase }}</span>
        </div>
        <div class="list__item">
          <span>Cama</span><span>{{ programacion.cama }}</span>
        </div>
        <div class="list__item">
          <span>Edad</span><span>{{ programacion.edad }}</span>
        </div>
        <div class="list__item">
          <span>Semanas</span><span>{{ programacion.semanas }}</span>
        </div>
        <div class="list__item">
          <span>cq_fecha</span
          ><span>{{ programacion.cq_fecha | date: "shortTime" }}</span>
        </div>
        <div class="list__item">
          <span>cq_hoinpr</span
          ><span>{{ programacion.cq_hoinpr | date: "shortTime" }}</span>
        </div>
        <div class="list__item">
          <span>cq_numhis</span><span>{{ programacion.cq_numhis }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
