<input
  class="modal-btn"
  type="checkbox"
  id="modal-btn"
  name="modal-btn"
  [checked]="isModal"
  (click)="onCloseModal()"
/>

<div class="modal">
  <div
    class="modal-wrap"
    *ngIf="programacionData as programacion; let i = index"
  >
    <div class="modal-head">
      <span class="modal-title">{{ programacion.sala }}</span>
    </div>
    <div class="modal-body modal-scroll-y">
      <div class="group__list">
        <div class="list__item">
          <span class="w__30">Paciente</span
          ><span class="w__70">{{ programacion.paciente | titlecase }}</span>
        </div>
        <div class="list__item">
          <span class="w__30">Cirujano</span
          ><span class="w__70">{{ programacion.cirujano | titlecase }}</span>
        </div>
        <div class="list__item">
          <span class="w__30">Intervencion</span
          ><span class="w__70">{{
            programacion.intervencion | titlecase
          }}</span>
        </div>
        <div class="list__item">
          <span class="w__30">anestesia</span
          ><span class="w__70">{{ programacion.anestesia | titlecase }}</span>
        </div>
        <div class="list__item">
          <span class="w__30">Cama</span
          ><span class="w__70">{{ programacion.cama }}</span>
        </div>
        <div class="list__item">
          <span class="w__30">Edad</span
          ><span class="w__70">{{ programacion.edad }}</span>
        </div>
        <div class="list__item">
          <span class="w__30">Semanas</span
          ><span class="w__70">{{ programacion.semanas }}</span>
        </div>
        <div class="list__item">
          <span class="w__30">Fecha</span
          ><span class="w__70">{{
            programacion.cq_fecha | date: "shortTime"
          }}</span>
        </div>
        <div class="list__item">
          <span class="w__30">Hora</span
          ><span class="w__70">{{
            programacion.cq_hoinpr | date: "shortTime"
          }}</span>
        </div>
        <div class="list__item">
          <span class="w__30">Historia</span
          ><span class="w__70">{{ programacion.cq_numhis }}</span>
        </div>
      </div>
      <button (click)="update(programacion)">Modificar</button>
      <button (click)="informenOperatorio(programacion)">
        Informe operatorio
      </button>
    </div>
  </div>
</div>
