<div class="container">
  <div class="row">
    <div class="cell-50">
      <app-calendar></app-calendar>
    </div>
  </div>
  <div class="row">
    <div class="cell-50">
      <div class="card">
        <div class="group">
          <select
            class="input-control"
            placeholder=" "
            [formControl]="especialidad"
            (change)="getMedicos($event.target.value)"
          >
            <option value="null">Seleccionar especialidad</option>
            <option
              [value]="especialidad.codigo"
              *ngFor="let especialidad of especialidades$ | async"
            >
              {{ especialidad.descripcion }}
            </option>
          </select>
        </div>
        <div class="group">
          <select class="input-control" placeholder=" " [formControl]="medico">
            <option value="null">Seleccionar medico</option>
            <option *ngFor="let medico of medicos$ | async">
              {{ medico.descripcion }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
