<div>
  <button class="btn" (click)="openModal()">+ new add</button>
</div>
<div class="table">
  <div class="row-header">
    <div class="cell">Codigo</div>
    <div class="cell">descripcion</div>
    <div class="cell">Accion</div>
  </div>
  <div
    class="row"
    *ngFor="let list of lists | paginate: { itemsPerPage: 5, currentPage: p }"
  >
    <div class="cell">
      {{ list.codigo | titlecase }}
    </div>
    <div class="cell">
      {{ list.descripcion | titlecase }}
    </div>

    <div class="cell">
      <div class="icon-action-svg">
        <img
          (click)="onEdit(list.codigo)"
          src="../../../../assets/icons/edit-color.svg"
          alt="Editar"
        />
        <img
          (click)="onDelete(list.codigo)"
          src="../../../../assets/icons/delete-color.svg"
          alt="Borrar"
        />
      </div>
    </div>
  </div>
  <div class="footer-pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<ng-container *ngIf="edit"> </ng-container>
