<div class="container">
  <div class="container__">
    <div class="card">
      <fieldset class="container__search">
        <input
          type="search"
          placeholder="Buscar paciente"
          class="input__controlv2"
          #search
          (keyup.enter)="buscarPaciente(search.value)"
        />

        <ng-container *ngIf="searchPaciente$ | async as searchPaciente">
          <ng-container *ngIf="searchPaciente.length > 0">
            <div class="container__list">
              <ul>
                <li
                  *ngFor="let paciente of searchPaciente"
                  class="item__list"
                  (click)="selectAcreditacion(paciente)"
                >
                  {{ paciente.paciente | uppercase }}
                </li>
              </ul>
            </div>
          </ng-container>
        </ng-container>
      </fieldset>

      <ng-container *ngIf="paciente$ | async as datasPaciente">
        <fieldset>
          <legend><h2>DATOS DEL PACIENTE</h2></legend>
          <app-admision-datosdelpacientes
            [paciente]="datasPaciente.datasPacientes"
          ></app-admision-datosdelpacientes>
        </fieldset>
        <fieldset>
          <legend><h2>DATOS DE LA CITA</h2></legend>
          <app-admision-datosdelacita
            [citas]="datasPaciente.datasPacientes.citas"
          ></app-admision-datosdelacita>
        </fieldset>
        <fieldset>
          <legend><h2>DATOS DE LA ACREDITACION</h2></legend>
          <app-admision-acreditacion
            [acreditacion]="datasPaciente.data.acreditaciones"
            (selectAcreditacion)="getCoberturas($event)"
          ></app-admision-acreditacion>
        </fieldset>
      </ng-container>

      <ng-container *ngIf="coberturas$ | async as coberturas">
        <app-admision-coberturas
          [coberturas]="coberturas"
          (selectCoberturas)="getCoberturasSeleccionada($event)"
        ></app-admision-coberturas>
      </ng-container>
      <fieldset>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <legend><h2>Datos del atencion</h2></legend>
            <section class="group__input">
              <select class="input__controlv2">
                <option>Tipo de admision</option>
                <option>PARTICULAR</option>
                <option>ASEGURADORA</option>
              </select>
              <select class="input__controlv2">
                <option>Medio de Autorizacion</option>
                <option>SITEDS</option>
                <option>MANUAL</option>
                <option>CALL CENTER</option>
              </select>

              <select class="input__controlv2">
                <option>Tipo Atencion</option>
                <option
                  *ngFor="let atencion of atenciones$ | async"
                  [value]="atencion.codigo"
                >
                  {{ atencion.descripcion }}
                </option>
              </select>
            </section>
          </fieldset>

          <ng-container *ngIf="isAutorizacion">
            <section class="group__input">
              <aside class="group__item">
                <input
                  type="text"
                  formControlName="cobertura"
                  class="input__controlv2"
                />
                <label class="control__label">Cobertura</label>
              </aside>
              <aside class="group__item">
                <input
                  type="text"
                  formControlName="copago_fijo"
                  class="input__controlv2"
                />
                <label class="control__label">Copago Fijo</label>
              </aside>
              <aside class="group__item">
                <input
                  type="text"
                  formControlName="copago_variable"
                  class="input__controlv2"
                />
                <label class="control__label">Copago Variable</label>
              </aside>
              <aside class="group__item">
                <input
                  type="text"
                  formControlName="numero_autorizacion"
                  class="input__controlv2"
                />
                <label class="control__label">N° Autorizacion</label>
              </aside>
            </section>
            <section class="group__input">
              <textarea
                class="input__controlv2"
                formControlName="observacion"
                placeholder="Observacion"
                row="30"
                cols="150"
              ></textarea>
            </section>
            <section class="group__input">
              <table>
                <thead>
                  <tr>
                    <th colspan="7">SERVICIO</th>
                  </tr>
                  <tr>
                    <th>PROCEDIMIENTO</th>
                    <th>PRECIO</th>
                    <th>CF</th>
                    <th>CV</th>
                    <th>VALOR VENTA</th>
                    <th>IGV</th>
                    <th>TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>CONSULTA AMBULATORIO</td>
                    <td>50.00</td>
                    <td>{{ copagoFijo }}</td>
                    <td>{{ copagoVariable }}%</td>
                    <td>50.00</td>
                    <td>9.00</td>
                    <td>59.00</td>
                  </tr>
                </tbody>
              </table>
            </section>
          </ng-container>

          <button class="btn">Generar Admision</button>
        </form>
      </fieldset>
    </div>
  </div>
</div>

<pre
  >{{ apigateway$ | async | json }}
</pre>

<app-loading [loading]="loading"></app-loading>
