.container__ {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 85%;
}

.group__input {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.group__item {
  position: relative;
  width: 100%;
}

.input__controlv2 {
  width: 100%;
  padding: 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  outline: none;
  text-transform: uppercase;
}

.control__label {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  transition: 0.3s;
  background-color: #fff;
  color: #828282;
  padding: 0 0.5rem;
}

.input__controlv2:focus + .control__label {
  top: -0.5rem;
  left: 0.9rem;
  z-index: 1;
  font-weight: 500;
  font-size: 0.75rem;
}

.input__controlv2:not(:placeholder-shown).input__controlv2:not(:focus)
  + .control__label {
  top: -0.5rem;
  left: 0.9rem;
  z-index: 1;
  font-weight: 500;
  font-size: 0.75rem;
}

.input__controlv2:focus {
  border: 1px solid #009b6e;
}

.textarea__control {
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  outline: none;
}

.container__search {
  position: relative;
}

fieldset {
  border: 0;
  padding: 0 0 0.5rem 0;
}

table,
th,
td {
  border: 1px solid #cbd5e1;
  border-collapse: collapse;
}

table {
  width: 100%;
}

thead {
  background-color: #009b6e;
  color: #fff;
}

td,
th {
  padding: 1rem;
  text-align: center;
}

.container__list {
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  position: absolute;
  background-color: #fff;
  top: 100%;
  height: 200px;
  overflow-y: scroll;
  z-index: 5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item__list {
  border-bottom: 1px solid #cbd5e1;
  padding: 1rem;
  cursor: pointer;
}

.item__list:last-child {
  border-bottom: none;
}

.item__list:hover {
  background-color: #cbd5e1be;
  font-weight: 600;
}
