.container__ {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 70%;
}

.group__input {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.input__controlv2 {
  width: 100%;
  padding: 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  outline: none;
  text-transform: uppercase;
}

.textarea__control {
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  outline: none;
}

.container__search {
  position: relative;
}

fieldset {
  border: 0;
  padding: 0 0 0.5rem 0;
}

table,
th,
td {
  border: 1px solid #cbd5e1;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td,
th {
  padding: 1rem;
  text-align: center;
}

.container__list {
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  position: absolute;
  background-color: #fff;
  top: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item__list {
  border-bottom: 1px solid #cbd5e1;
  padding: 1rem;
  cursor: pointer;
}
