<ng-container
  *ngIf="agendaMedicas$ | async as agendaMedicas; else message"
  class="animate__animated animate__fadeIn"
>
  <div
    class="table animate__animated animate__fadeIn"
    *ngIf="status; else message"
  >
    <div class="row-header">
      <div class="cell cell-50">N°O.</div>
      <div class="cell cell-50">Hora</div>
      <div class="cell cell-50">H.Ing</div>
      <div class="cell cell-50">Nro Historia</div>
      <div class="cell">Paciente</div>
    </div>
    <div
      class="row-body animate__animated animate__fadeIn"
      (click)="agendar()"
      *ngFor="
        let agendaMedica of agendaMedicas
          | paginate: { itemsPerPage: 10, currentPage: p }
      "
    >
      <div class="cell cell-50">{{ agendaMedica.orden }}</div>
      <div class="cell cell-50">{{ agendaMedica.hora }}</div>
      <div class="cell cell-50">{{ agendaMedica.horalleg }}</div>
      <div class="cell cell-50">{{ agendaMedica.historia }}</div>
      <div class="cell cell-text-left">
        {{ agendaMedica.paciente | titlecase }}
      </div>
    </div>
    <div class="footer-pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</ng-container>
<ng-template #message>
  <div class="message-error animate__animated animate__fadeIn">
    <h1>Seleccionar especialidad y luego medico!</h1>
  </div>
</ng-template>
