.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  margin-left: 20px;
  /* height: 520px; */
  border: 1px solid #dadce0;
}

.row-header {
  display: flex;
  justify-content: space-between;
  background-color: #009b6e;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.row-header .cell {
  text-align: center;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #fff;
  font-weight: 600;
}

.table .row-header .cell-15 {
  width: 15%;
}

.table .row-header .cell-30 {
  width: 30%;
}

.row-body {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.row-body:hover {
  border: 1px solid #fe7b12;
  font-weight: 600;
}

.table .row-body .cell-30 {
  width: 30%;
  border-right: 1px solid #dbdbdb;
}

.table .row-body .cell-15 {
  width: 15%;
  border-right: 1px solid #dbdbdb;
}

.row-body .cell {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.table .row-body .cell-text-left {
  padding-left: 15px;
  text-align: left;
  border-right: 1px solid #dbdbdb;
}

.footer-pagination {
  display: flex;
  justify-content: center;
}

.message-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  border: 1px solid red;
  color: red;
  padding: 0 1.2rem;
  border-radius: 2rem;
}

.active-success {
  background-color: #ceffce;
}

.active-warning {
  background-color: #ffffc8;
  color: #fff;
}

.active-info {
  background-color: #ccffff;
  color: #fff;
}

/******************CARD**************************/
.card {
  width: 100%;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.card-border-color {
  border: 1px solid #dadce0;
}

.card-body {
  display: flex;
  justify-content: center;
}

.card-body .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
  border-right: 1px solid #dbdbdb;
  font-weight: 600;
  color: #009b6e;
}

.card-body .card-item:last-child {
  border-right: none;
}

.card-item .title {
  color: #828282;
  font-weight: 500;
}
