<ng-container
  *ngIf="agendaMedicaslists$ | async as agendaMedicaslists; else message"
  class="animate__animated animate__fadeIn"
>
  <ng-container
    *ngIf="agendaMedicaData$ | async as agendaMedicaData"
    class="animate__animated animate__fadeIn"
  >
    <div class="card card-border-color animate__animated animate__fadeIn">
      <div class="card-body">
        <div class="card-item">
          <span class="detalle">{{ agendaMedicaData.medico | titlecase }}</span>
          <span class="title">Médico</span>
        </div>
        <div class="card-item">
          <span class="detalle">{{
            agendaMedicaData.especialidad | titlecase
          }}</span>
          <span class="title">Especialidad</span>
        </div>
        <div class="card-item">
          <span class="detalle">{{
            agendaMedicaData.consultorio | titlecase | slice: 12
          }}</span>
          <span class="title">Consultorio</span>
        </div>
        <div class="card-item">
          <span class="detalle">{{
            agendaMedicaData.turno | titlecase | slice: 18
          }}</span>
          <span class="title">Turno</span>
        </div>
      </div>
    </div>
  </ng-container>
  <div
    class="table animate__animated animate__fadeIn"
    *ngIf="status; else message"
  >
    <div class="row-header">
      <div class="cell cell-15">N°O.</div>
      <div class="cell cell-15">Hora</div>
      <div class="cell cell-15">H.Ing</div>
      <div class="cell cell-15">Historia</div>
      <div class="cell">Paciente</div>
      <div class="cell cell-15">&nbsp;</div>
    </div>
    <div
      class="row-body animate__animated animate__fadeIn"
      *ngFor="
        let agendaMedicaslist of agendaMedicaslists
          | paginate: { itemsPerPage: 10, currentPage: p }
      "
    >
      <div class="cell cell-15">{{ agendaMedicaslist.orden }}</div>
      <div class="cell cell-15">{{ agendaMedicaslist.hora }}</div>
      <div class="cell cell-15">{{ agendaMedicaslist.horalleg }}</div>
      <div class="cell cell-15">{{ agendaMedicaslist.historia }}</div>
      <div class="cell cell-text-left">
        {{ agendaMedicaslist.paciente | titlecase }}
      </div>

      <div class="cell cell-15">
        <ng-container *ngIf="agendaMedicaslist.atend !== '0'; else delete">
          <img
            src="../../../../assets/icons/add-plus.svg"
            class="icon-delete"
            (click)="openModal(agendaMedicaslist)"
          />
        </ng-container>
        <ng-template #delete>
          <img
            src="../../../../assets/icons/delete_black_white.svg"
            class="icon-delete"
            (click)="AnulacionCita(agendaMedicaslist.idcita)"
          />
        </ng-template>
      </div>
    </div>
    <div class="footer-pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</ng-container>
<ng-template #message>
  <div class="message-error animate__animated animate__fadeIn">
    <h1>Seleccionar especialidad y luego medico!</h1>
  </div>
</ng-template>

<app-toaster></app-toaster>
