<!-- <input
  class="modal-btn"
  type="checkbox"
  id="modal-btn"
  name="modal-btn"
  [checked]="isModal"
  (click)="closeModal()"
/>

<div class="modal">
  <div class="modal-wrap">
    <div class="modal-head">
      <span class="modal-title"><h1>kjgfkjagdkjgas</h1></span>
    </div>
    <div class="modal-body modal-scroll-y">
      <ng-container *ngFor="let dataProgramacion of dataProgramacion$ | async">
        <span>{{ dataProgramacion.hc_numhis }}</span>
      </ng-container>
    </div>
  </div>
</div> -->
<div class="card mb__1rem">
  <div class="group">
    <input
      type="text"
      class="input-control"
      formControlName="cq_fecha"
      placeholder=" "
    />
    <label class="label-control">Buscar paciente</label>
  </div>
  <br /><br /><br />
</div>
