<div class="card mb__1rem">
  <div class="group group__search">
    <img
      src="../../../../assets/icons/search__black.svg"
      width="30"
      height="30"
    />
    <div class="group">
      <input
        #search
        type="search"
        (keyup.enter)="searchPaciente(search.value)"
        class="input-control"
        placeholder=" "
      />
      <label class="label-control">Buscar paciente</label>
    </div>
  </div>

  <ng-container *ngIf="dataProgramacion.length > 0">
    <div class="table__head">
      <div class="table__item w__10 text__center">Historia</div>
      <div class="table__item w__60">Nombre del paciente</div>
      <div class="table__item w__10 text__center">Edad</div>
      <div class="table__item w__10 text__center">Sexo</div>
    </div>
    <div
      class="table__body"
      *ngFor="let data of dataProgramacion"
      (click)="pacienteSeleccionado(data)"
    >
      <div class="table__item w__10 text__center">{{ data.historia }}</div>
      <div class="table__item w__60">{{ data.nombreCompletoDelPaciente }}</div>
      <div class="table__item w__10 text__center">{{ data.edad }}</div>
      <div class="table__item w__10 text__center">{{ data.sexo }}</div>
    </div>
  </ng-container>
</div>
