.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    flex: 1 0 23em;
    margin-bottom: 1em;
    justify-content: space-around;
}

.card {
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #dadce0;
  }

.input-control {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0.5em 1.2em 0.5em 1.2em;
    border-radius: 2rem;
    border: 1px solid #dadce0;
    outline: none;
    background: none;
    margin: 0 1em;
}

.label-control {
    position: absolute;
    top: 0.9rem;
    left: 1.9rem;
    background-color: #fff;
    padding: 0 0.25rem;
    color: #80868b;
    transition: 0.5s;
}

.input-control:focus + .label-control {
  top: -0.5rem;
  left: 1.9rem;
  font-weight: 500;
  font-size: 0.75rem;
}

.input-control:not(:placeholder-shown).input-control:not(:focus)
  + .label-control {
  top: -0.5rem;
  left: 1.9rem;
  font-weight: 500;
  font-size: 0.75rem;
}

.input-control:focus {
  border: 1px solid #fe7b12;
}

.btn {
    width: 120px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s;
    margin: 0 0.5em;
  }

.btn:hover:enabled {
  background-color: #009b6e;
  color: #fff;
  box-shadow: 0 8px 6px -6px black;
}

table.Table {
  display: block;
  background-color: #ffffff;
  border-width: 2px;
  border-color: #009b6e;
  color: #000000;
  overflow:auto;
  margin: 1rem
}

table.Table th{
  border-width: 2px;
  border-color: #009b6e;
  border-style: solid;
  padding: 3px;
  color: #ffffff;
  border-radius: 5px;
}

table.Table td{
  border-width: 2px;
  border-color: #009b6e;
  border-style: solid;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}

table.Table thead {
  background-color: #009b6e;
  border-radius: 20px;
}



