<div class="container">
  <div class="card">
    <div class="card-head">F419</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="container-form">
        <div class="group">
          <input
            type="date"
            class="input-control"
            placeholder=" "
            formControlName="fecha"
          />
          <label class="label-control">Fecha</label>
        </div>

        <div class="group">
          <input
            type="text"
            class="input-control"
            placeholder=" "
            formControlName="historia"
          />
          <label class="label-control">Historia</label>
        </div>
      </div>

      <div class="group textarea">
        <textarea
          rows="5"
          cols="10"
          class="input-control"
          placeholder=" "
          formControlName="descripcion"
        ></textarea>
        <label for="" class="label-control">Descripción de la F419 </label>
      </div>
      <fieldset class="fieldset-group">
        <legend>Turno</legend>
        <div class="container-checkbox">
          <input
            type="radio"
            class="checkbox_input"
            value="1"
            id="manana"
            formControlName="turno"
          />
          <label for="manana" class="checkbox_label">Mañana</label>
          <input
            type="radio"
            class="checkbox_input"
            value="2"
            id="tarde"
            formControlName="turno"
          />
          <label for="tarde" class="checkbox_label">Tarde</label>
          <input
            type="radio"
            class="checkbox_input"
            value="3"
            id="noche"
            formControlName="turno"
          />
          <label for="noche" class="checkbox_label">Noche</label>
        </div>
      </fieldset>

      <fieldset class="fieldset-group">
        <legend>Área Asociada</legend>
        <div class="container-checkbox">
          <input
            type="checkbox"
            class="checkbox_input"
            value="1"
            id="coe"
            formControlName="a1"
            (change)="onCheckbox($event, 'AREA')"
          />
          <label for="coe" class="checkbox_label">
            C.O
            <span class="tooltip">Centro Obstétrico</span>
          </label>
          <input
            type="checkbox"
            class="checkbox_input"
            value="2"
            id="co"
            formControlName="a2"
            (change)="onCheckbox($event, 'AREA')"
          />
          <label for="co" class="checkbox_label"
            >C.Q
            <span class="tooltip">Centro Quirúrgico</span>
          </label>
          <input
            type="checkbox"
            class="checkbox_input"
            value="3"
            id="hosp"
            formControlName="a3"
            (change)="onCheckbox($event, 'AREA')"
          />
          <label for="hosp" class="checkbox_label"
            >HOSP
            <span class="tooltip">Hospitalización</span>
          </label>
          <input
            type="checkbox"
            class="checkbox_input"
            value="4"
            id="neo"
            formControlName="a4"
            (change)="onCheckbox($event, 'AREA')"
          />
          <label for="neo" class="checkbox_label">
            NEO
            <span class="tooltip">Neonatología</span>
          </label>
          <input
            type="checkbox"
            class="checkbox_input"
            value="5"
            id="consultorios"
            formControlName="a5"
            (change)="onCheckbox($event, 'AREA')"
          />
          <label for="consultorios" class="checkbox_label">CONS</label>
          <input
            type="checkbox"
            class="checkbox_input"
            value="6"
            id="otro"
            formControlName="a6"
            (change)="onCheckbox($event, 'AREA')"
          />
          <label for="otro" class="checkbox_label">Otros</label>
        </div>
      </fieldset>
      <div class="group animate__animated animate__fadeIn" *ngIf="otrosArea">
        <input
          type="text"
          class="input-control"
          placeholder=" "
          [formControl]="otroArea"
        />
        <label class="label-control">Otra area</label>
      </div>

      <fieldset class="fieldset-group">
        <legend>Colaborador involucrado</legend>
        <div class="container-checkbox">
          <input
            type="checkbox"
            class="checkbox_input"
            value="1"
            id="medico"
            formControlName="c1"
            (change)="onCheckbox($event, 'COLABORADOR')"
          />
          <label for="medico" class="checkbox_label">Medico</label>
          <input
            type="checkbox"
            class="checkbox_input"
            value="2"
            id="enfermera"
            formControlName="c2"
            (change)="onCheckbox($event, 'COLABORADOR')"
          />
          <label for="enfermera" class="checkbox_label">Enfermera</label>
          <input
            type="checkbox"
            class="checkbox_input"
            value="3"
            id="obstetrica"
            formControlName="c3"
            (change)="onCheckbox($event, 'COLABORADOR')"
          />
          <label for="obstetrica" class="checkbox_label">Obstetrica</label>
          <input
            type="checkbox"
            class="checkbox_input"
            value="4"
            id="tecenfermera"
            formControlName="c4"
            (change)="onCheckbox($event, 'COLABORADOR')"
          />
          <label for="tecenfermera" class="checkbox_label">Tecnica</label>
          <input
            type="checkbox"
            class="checkbox_input"
            value="5"
            id="otros"
            formControlName="c5"
            (change)="onCheckbox($event, 'COLABORADOR')"
          />
          <label for="otros" class="checkbox_label">Otros</label>
        </div>
      </fieldset>
      <div
        class="group animate__animated animate__fadeIn"
        *ngIf="otrosColaborador"
      >
        <input
          type="text"
          class="input-control"
          placeholder=" "
          [formControl]="otroColaborador"
        />
        <label class="label-control">Otra Colaborador</label>
      </div>
      <div class="group">
        <button type="submit" class="btn">Enviar</button>
      </div>
    </form>
  </div>
</div>
