<div class="container w__70">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="card-head">
        <div class="title__h1 text__color">F419</div>
        <div class="title__h1 text__color">
          REPORTE DE INCIDENCIA/EVENTO ADVERSO
        </div>
        <div class="title__h1 text__color">ASISTENCIAL</div>
      </div>

      <div class="row__item">
        <div class="group mr_05rem">
          <input
            type="date"
            class="input-control"
            placeholder=" "
            formControlName="fecha"
          />
          <label class="label-control">Fecha I/A</label>
        </div>
        <div class="group">
          <input
            type="text"
            class="input-control"
            placeholder=" "
            formControlName="historia"
          />
          <label class="label-control">N° de historia</label>
        </div>
      </div>
      <div class="group textarea">
        <textarea
          rows="5"
          cols="10"
          class="input-control"
          placeholder=" "
          formControlName="glosa"
        ></textarea>
        <label class="label-control">Descripción de la F419 </label>
      </div>

      <div class="title__head text__color">Area asociada</div>
      <div class="container__checkbox">
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Centro obstetrico y emergencia"
            (change)="addDetail($event.target)"
            value="01"
            class="checkbox__input"
          />
          <label for="Centro obstetrico y emergencia" class="label__"
            >Centro obstetrico y emergencia</label
          >
        </div>

        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Neonatologia"
            (change)="addDetail($event.target)"
            value="02"
            class="checkbox__input"
          />
          <label for="Neonatologia" class="label__">Neonatologia</label>
        </div>
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Centro Quirurgico"
            (change)="addDetail($event.target)"
            value="03"
            class="checkbox__input"
          />
          <label for="Centro Quirurgico" class="label__"
            >Centro Quirurgico</label
          >
        </div>
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Consultorios Externo / Vacunación"
            (change)="addDetail($event.target)"
            value="04"
            class="checkbox__input"
          />
          <label for="Consultorios Externo / Vacunación" class="label__"
            >Consultorios Externo / Vacunación</label
          >
        </div>
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Hospitalización"
            (change)="addDetail($event.target)"
            value="05"
            class="checkbox__input"
          />
          <label for="Hospitalización" class="label__">Hospitalización</label>
        </div>
      </div>
      <div class="title__head text__color">
        Areas de diagnostico y apoyo clinico
      </div>
      <div class="container__checkbox">
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Laboratorio"
            (change)="addDetail($event.target)"
            value="06"
            class="checkbox__input"
          />
          <label for="Laboratorio" class="label__">Laboratorio</label>
        </div>
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Patologia"
            (change)="addDetail($event.target)"
            value="07"
            class="checkbox__input"
          />
          <label for="Patologia" class="label__">Patologia</label>
        </div>
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Rayos x"
            (change)="addDetail($event.target)"
            value="08"
            class="checkbox__input"
          />
          <label for="Rayos x" class="label__">Rayos x</label>
        </div>
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Ecografia"
            (change)="addDetail($event.target)"
            value="09"
            class="checkbox__input"
          />
          <label for="Ecografia" class="label__">Ecografia</label>
        </div>
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Farmacia"
            (change)="addDetail($event.target)"
            value="10"
            class="checkbox__input"
          />
          <label for="Farmacia" class="label__">Farmacia</label>
        </div>
      </div>
      <div class="title__head text__color">
        Areas de diagnostico y apoyo clinico
      </div>
      <div class="container__checkbox">
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Médico"
            (change)="addDetail($event.target)"
            value="11"
            class="checkbox__input"
          />
          <label for="Médico" class="label__">Médico</label>
        </div>
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Enfermera"
            (change)="addDetail($event.target)"
            value="12"
            class="checkbox__input"
          />
          <label for="Enfermera" class="label__">Enfermera</label>
        </div>
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Obstétricas"
            (change)="addDetail($event.target)"
            value="13"
            class="checkbox__input"
          />
          <label for="Obstétricas" class="label__">Obstétricas</label>
        </div>
        <div class="checkbox__tiem">
          <input
            type="checkbox"
            id="Tec. de Enfermería"
            (change)="addDetail($event.target)"
            value="14"
            class="checkbox__input"
          />
          <label for="Tec. de Enfermería" class="label__"
            >Tec. de Enfermería</label
          >
        </div>
      </div>
    </div>
    <div class="group">
      <button type="submit" class="btn">Enviar</button>
    </div>
  </form>
</div>
