<form [formGroup]="formActoMedico" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="container animate__animated animate__fadeIn">
    <div class="card card-p" *ngIf="datosDelPaciente$ | async as datos">
      <div class="card-detalles">
        <div class="card-avatar">
          <img src="assets/icons/user.svg" />
        </div>

        <div class="card-datos">
          <div class="item">
            <span class="value">{{ datos.paciente | titlecase }}</span>
            <span class="label">Paciente</span>
          </div>
          <div class="item">
            <span class="value">{{ datos.historia }}</span>
            <span class="label">Historia</span>
          </div>
          <div class="item">
            <span class="value">{{ datos.edad }}</span>
            <span class="label">Edad</span>
          </div>
          <div class="item">
            <span class="value">{{ datos.sexo }}</span>
            <span class="label">Sexo</span>
          </div>
        </div>
      </div>
    </div>

    <div class="container-content">
      <div class="container-row">
        <div class="card">
          <h3>1.- Observaciones</h3>
          <div class="group textarea">
            <textarea
              rows="5"
              cols="10"
              class="input-control"
              placeholder=" "
              formControlName="motivo"
            ></textarea>
            <label for="" class="label-control">Motivo de Consulta</label>
          </div>

          <div class="group textarea">
            <textarea
              rows="5"
              cols="10"
              class="input-control"
              placeholder=" "
              formControlName="problema"
            ></textarea>
            <label for="" class="label-control"
              >Enfermedad o Problema Actual</label
            >
          </div>
          <div class="group textarea">
            <textarea
              rows="5"
              cols="10"
              class="input-control"
              placeholder=" "
              formControlName="examen"
            ></textarea>
            <label class="label-control">Examen Fisico</label>
          </div>
        </div>
        <div class="card">
          <h3>2.- Signos Vitales</h3>
          <div class="container-cell">
            <div class="container-row">
              <div class="group">
                <input
                  type="text"
                  class="input-control"
                  placeholder=" "
                  formControlName="parterial"
                />
                <label class="label-control">Presion Arterial</label>
              </div>
              <div class="group">
                <input
                  type="text"
                  class="input-control"
                  placeholder=" "
                  formControlName="fcardiaca"
                />
                <label class="label-control">F. Cardiaca(min)</label>
              </div>
              <div class="group">
                <input
                  type="text"
                  class="input-control"
                  placeholder=" "
                  formControlName="frespiratoria"
                />
                <label class="label-control">F.Respiratoria(min)</label>
              </div>
              <div class="group">
                <input
                  type="text"
                  class="input-control"
                  placeholder=" "
                  formControlName="tbucal"
                />
                <label class="label-control">Temp. Bucal(c)</label>
              </div>
              <div class="group">
                <input
                  type="text"
                  class="input-control"
                  placeholder=" "
                  formControlName="taxiliar"
                />
                <label class="label-control">Temp. Axilar(c)</label>
              </div>
            </div>
            <div class="container-row">
              <div class="group">
                <input
                  type="text"
                  class="input-control"
                  placeholder=" "
                  formControlName="peso"
                />
                <label class="label-control">Peso(kg)</label>
              </div>
              <div class="group">
                <input
                  type="text"
                  class="input-control"
                  placeholder=" "
                  formControlName="talla"
                />
                <label class="label-control">Talla(m)</label>
              </div>
              <div class="group">
                <input
                  type="text"
                  class="input-control"
                  placeholder=" "
                  formControlName="icorporal"
                />
                <label class="label-control">I.Masa corporal</label>
              </div>
              <div class="group">
                <input
                  type="text"
                  class="input-control"
                  placeholder=" "
                  formControlName="pcefalico"
                />
                <label class="label-control">Perim Cefalico(cm)</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-row">
        <div class="card">
          <h3>3.- Antecedentes</h3>
          <ng-container formArrayName="antecedentes">
            <div *ngFor="let _ of antecedentes.controls; index as i">
              <ng-container [formGroupName]="i">
                <div class="card">
                  <div class="group">
                    <select
                      class="input-control input-select animate__animated animate__fadeIn"
                      formControlName="idan"
                    >
                      <option [ngValue]="null">Seleccionar antecedente</option>
                      <option
                        [ngValue]="antecedente.id"
                        *ngFor="let antecedente of antecedentes$ | async"
                      >
                        {{ antecedente.an_destipo }}/{{
                          antecedente.an_descripcion
                        }}
                      </option>
                    </select>
                  </div>
                  <div class="container-row-form">
                    <div class="group">
                      <input
                        type="text"
                        class="input-control animate__animated animate__fadeIn"
                        placeholder=" "
                        formControlName="valor"
                      />
                      <label class="label-control">Descripcion</label>
                    </div>
                    <div class="group group-50" (click)="deleteAntecedente(i)">
                      <img
                        src="assets/icons/delete_black_white.svg"
                        class="icon-delete"
                      />
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <div class="group">
            <div class="card-option" (click)="agregarAntecedentes()">
              <img src="assets/icons/add-plus.svg" />
              <span>Agregar antecedentes</span>
            </div>
          </div>
        </div>

        <div class="card">
          <h3>4.- Cie-X</h3>
          <div class="group">
            <input
              type="text"
              class="input-control"
              placeholder=" "
              (keyup)="search($event.target)"
              [formControl]="searchs"
            />
            <label class="label-control">Buscar cie-X</label>
          </div>

          <ng-container *ngIf="cies$ | async as cies">
            <div
              class="table animate__animated animate__fadeIn"
              *ngIf="visible"
            >
              <div class="row-header">
                <div class="cell m10">Codigo</div>
                <div class="cell">Descripcion</div>
              </div>
              <div
                class="row"
                (click)="agregarCieX(cie)"
                *ngFor="
                  let cie of cies
                    | paginate: { itemsPerPage: 3, currentPage: p }
                "
              >
                <div class="cell m10">
                  {{ cie.codigo | titlecase }}
                </div>
                <div class="cell">
                  {{ cie.descripcion | titlecase }}
                </div>
              </div>
              <div class="footer-pagination">
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
          </ng-container>
        </div>
        <div
          class="card animate__animated animate__fadeIn"
          *ngIf="diagnosticos.value.length > 0"
        >
          <h3>Cie-X seleccionados</h3>
          <ng-container formArrayName="diagnosticos">
            <div *ngFor="let _ of diagnosticos.controls; index as i">
              <ng-container [formGroupName]="i">
                <div class="card-cie animate__animated animate__fadeIn">
                  <span class="card-title-cie"> </span>
                  <span class="card-contenido-cie">
                    <div class="radio">
                      <input
                        type="radio"
                        value="PRESUNTIVO"
                        [id]="'a' + i"
                        class="radio__input"
                        [checked]="
                          (diagnosticos.value[i].tdx || 'PRESUNTIVO') ===
                          'PRESUNTIVO'
                        "
                        (click)="updateCie($event, i)"
                      />
                      <label [for]="'a' + i" class="radio_label"
                        >Presuntivo</label
                      >
                      <input
                        type="radio"
                        value="DEFINITIVO"
                        [id]="'b' + i"
                        class="radio__input"
                        [checked]="diagnosticos.value[i].tdx === 'DEFINITIVO'"
                        (click)="updateCie($event, i)"
                      />
                      <label [for]="'b' + i" class="radio_label"
                        >Definitivo</label
                      >
                    </div>
                  </span>
                  <span class="card-delete">
                    <img
                      src="assets/icons/delete_black_white.svg"
                      class="icon-delete"
                      (click)="deleteCie(i)"
                    />
                  </span>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="card">
          <h3>5.- Atencion</h3>
          <div class="group">
            <select
              class="input-control input-select"
              formControlName="destino"
            >
              <option value="null">Seleccionar tipo de atencion</option>
              <option value="1">RECITA</option>
              <option value="2">INTERCONSULTA</option>
              <option value="3">ALTA</option>
              <option value="4">REFERENCIA</option>
            </select>
          </div>
        </div>
        <!-- <pre>
          <code>
            {{ formActoMedico.getRawValue() | json }}
          </code>
        </pre> -->
      </div>
    </div>
    <div class="group-button">
      <button type="submit" class="btn">{{ tituloBoton }}</button>
    </div>
  </div>
</form>
