<div class="card animate__animated animate__fadeIn">
  <div class="group" *ngIf="especialidades$ | async as especialidades">
    <select
      class="input-control animate__animated animate__fadeIn"
      placeholder=" "
      [formControl]="especialidad"
      (change)="getMedicos()"
      *ngIf="especialidades.length > 0; else message"
    >
      <option [value]="null">Seleccionar especialidad</option>
      <option
        [value]="especialidad.codigo"
        *ngFor="let especialidad of especialidades"
      >
        {{ especialidad.descripcion | titlecase }}
      </option>
    </select>
  </div>
  <div class="group">
    <select
      class="input-control animate__animated animate__fadeIn"
      placeholder=" "
      [formControl]="idprogramacion"
      (change)="agendaMedica()"
    >
      <option [value]="null">Seleccionar medico</option>
      <option
        [value]="medico.pr_numero"
        *ngFor="let medico of medicos$ | async"
      >
        {{ medico.nombre | titlecase }}
      </option>
    </select>
  </div>
</div>
<ng-template #message>
  <div class="message-error animate__animated animate__fadeIn">
    No tiene programacion para la fecha
  </div>
</ng-template>
