.card {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  border: 1px solid #dadce0;
}

/******FORM******/

.group {
  position: relative;
  height: 45px;
  /* margin-bottom: 1.6rem; */
}

.input-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid #dadce0;
  outline: none;
  background: none;
  z-index: 1;
}

.label-control {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  background-color: #fff;
  padding: 0 0.25rem;
  color: #80868b;
  transition: 0.3s;
}

.input-control:focus + .label-control {
  top: -0.5rem;
  left: 0.9rem;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}

.input-control:not(:placeholder-shown).input-control:not(:focus)
  + .label-control {
  top: -0.5rem;
  left: 0.8rem;
  z-index: 10;
  font-weight: 500;
  font-size: 0.75rem;
}

.input-control:focus {
  border: 1px solid #fe7b12;
}
