<input
  class="modal-btn"
  type="checkbox"
  id="modal-btn"
  name="modal-btn"
  [checked]="isModal"
  (click)="closeModal()"
/>

<div class="modal">
  <div class="modal-wrap">
    <div class="modal-head">
      <span class="modal-title">Disponibilidad de salas</span>
    </div>
    <div class="modal-body modal-scroll-y">
      <div class="tab__head">
        <button class="item__tab">Salas 01</button>
        <button class="item__tab">Salas 02</button>
        <button class="item__tab">Salas 03</button>
      </div>
      <div class="tab__body">
        <h1>kjdgfks</h1>
      </div>
    </div>
  </div>
</div>
