<input
  class="modal-btn"
  type="checkbox"
  id="modal-btn"
  name="modal-btn"
  [checked]="isModal"
  (click)="closeModal()"
/>
<div class="modal">
  <div class="modal-wrap">
    <div class="modal-head">
      <span class="modal-title">Disponibilidad de salas</span>
      <span class="modal-title" (click)="closeModal()">X</span>
    </div>
    <div class="modal-body modal-scroll-y">
      <div class="tab__head">
        <button
          class="item__tab"
          [class.item__tab__active]="activeSala01"
          (click)="getDisponibilidadDeSalas('01')"
        >
          Sala operaciones 1
        </button>
        <button
          class="item__tab"
          [class.item__tab__active]="activeSala02"
          (click)="getDisponibilidadDeSalas('02')"
        >
          Sala operaciones 2
        </button>
        <button
          class="item__tab"
          [class.item__tab__active]="activeSala03"
          (click)="getDisponibilidadDeSalas('03')"
        >
          Sala de partos
        </button>
      </div>
      <div class="tab__body modal-scroll-y">
        <div class="container__data">
          <ng-container
            *ngFor="let disponibilidadDeSala of disponibilidadDeSalas"
          >
            <input
              type="checkbox"
              [id]="disponibilidadDeSala.hora"
              [value]="disponibilidadDeSala | json"
              (change)="selectTime($event.target)"
            />
            <label
              class="item__data"
              [class.valid__status]="
                disponibilidadDeSala.estado || disponibilidadDeSala?.status
              "
              [for]="disponibilidadDeSala.hora"
              >{{ disponibilidadDeSala.hora }}</label
            >
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
