.container-row {
  display: flex;
  justify-content: space-between;
}

.container-row .cell {
  width: 50%;
}

.cell-center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
