/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Humanist;
  src: url("./assets/fonts/humanist-777-bt.ttf");
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Humanist", sans-serif;
  font-size: 1em;
}

html,
body {
  margin: 0;
  padding: 0;
  /* background-color: #bdbdbb; */
  background-color: #fff;
}

/**********CONTAINER***********/
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 1rem;
}

@media (min-width: 768px) and (min-width: 992px) {
  .container {
    padding: 6rem;
  }
}
