/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Humanist;
  src: url("./assets/fonts/humanist-777-bt.ttf");
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Humanist", sans-serif;
  font-size: 1em;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/**********CONTAINER***********/
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 1rem 3rem 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn {
  border: none;
  font-weight: 600;
  border-radius: 2rem;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.btn {
  padding: 1rem 0;
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
}

.btn:hover {
  background-color: #828282;
  color: #fff;
  box-shadow: 0 8px 6px -6px black;
}

@media (min-width: 768px) and (min-width: 992px) {
  .container {
    padding: 6rem;
  }
}
