<aside class="container__table">
  <table>
    <thead>
      <tr>
        <th>COBERTURA</th>
        <th>CF</th>
        <th>CV</th>
        <th>MSGOBS</th>
        <th>MSGCONESPECIALES</th>
        <th>FIN DE CARENCIA</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let cobertura of coberturas"
        (click)="generarAutorizacion(cobertura)"
      >
        <td>{{ cobertura.CoTiCobertura }} {{ cobertura.CoSubTiCobertura }}</td>
        <td>{{ cobertura.CoPagoFijo }}</td>
        <td>{{ cobertura.CoPagoVariable }}%</td>
        <td>{{ cobertura.MsgObs }}</td>
        <td>{{ cobertura.MsgConEspeciales }}</td>
        <td>
          {{
            cobertura.FeFinCarencia === "00000000"
              ? null
              : cobertura.FeFinCarencia
          }}
        </td>
      </tr>
    </tbody>
  </table>
</aside>
