<aside class="container__table">
  <table>
    <thead>
      <tr>
        <th colspan="6">COBERTURAS</th>
      </tr>
      <tr>
        <th>COBERTURA</th>
        <th class="text__left">DESCRIPCION</th>
        <th>CF</th>
        <th>CV</th>
        <th>MSGOBS / MSGCONESPECIALES</th>
        <th>FIN DE CARENCIA</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let cobertura of coberturas.coberturas"
        (click)="generarAutorizacion(cobertura)"
        [class.active]="selectCobertura === cobertura"
      >
        <td>{{ cobertura.CoTiCobertura }}{{ cobertura.CoSubTiCobertura }}</td>
        <td class="text__left">
          {{ cobertura.CoberturaDescripcion }}
        </td>
        <td>{{ cobertura.CoPagoFijo }}</td>
        <td>{{ cobertura.CoPagoVariable }}%</td>
        <td>{{ cobertura.MsgObs ?? cobertura.MsgConEspeciales }}</td>
        <td>
          {{
            cobertura.FeFinCarencia === "00000000"
              ? null
              : cobertura.FeFinCarencia
          }}
        </td>
      </tr>
    </tbody>
  </table>
</aside>
