table,
th,
td {
  border: 1px solid #cbd5e1;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td,
th {
  padding: 1rem;
  text-align: center;
}

.text__left {
  text-align: left;
}

.container__table {
  height: 350px;
  overflow-y: scroll;
}

.active {
  background-color: #8cc8c8;
  font-weight: 600;
}
